/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    /*#homeFraterSlider .carousel-item {
          height: 500px;
      }*/
    #homeFraterSlider .carousel-item {
        height: 40vh;
    }
    #homeFraterSliderMobile .carousel-item {
        height: 100vh;
    }
    #homeFraterSlider .slider-bg, #homeFraterSliderMobile .slider-bg {
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }
    .carousel-caption h5 {
        font-size: 0.6rem;
    }

    .carousel-caption p {
        font-size: 1rem;
    }

    /***********************/
    .home-produits .card-title {
        font-size: 0.9rem;
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .border-top-right,
    .home-produits .card,
    .home-produits .card-img {
        -webkit-border-radius: 0px !important;
        -webkit-border-top-right-radius: 30px !important;
        -moz-border-radius: 0px !important;
        -moz-border-radius-topright: 30px !important;
        border-radius: 0px !important;
        border-top-right-radius: 30px !important;
        border: none !important;
    }

    .strategieCarouselContainer .nav-pills .nav-link {
        height: 100px;
        font-size: 14px;
    }

    .missionCarouselContainer .nav-pills .nav-link {
        font-size: 12px;
    }

    h2.product-title {
        margin-bottom: 15px;
        display: inline-block !important;
    }

    .bg-large-text {

        background-image: url('../img/bg-mol-carre.png');
        background-repeat: repeat;
        background-position: top left;
        background-size: auto 25%;

    }

    .accordion-header {
        font-size: 0.9em;
    }

    .nouveau_produit {
        max-width: 70px !important;
        bottom: 5%;
        right: 5%;
    }
    .logo-frater {
        max-width: 165px;
    }

}

/* SM Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .logo-frater {
        /*max-height: 45px;*/
        max-width: 100%;
    }

    .strategieCarouselContainer #missionCarouselNav .nav-item {

    }

    .nouveau_produit {
        max-width: 40px !important;
        bottom: 5%;
        right: 5%;
    }
}

/* MD Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .logo-frater {
        /*max-height: 45px;*/
        max-width: 100%;
    }

    .home-produits .pill-1,
    .home-produits .pill-2 {
        padding: 10px;
        font-size: 0.8rem;
    }

    .main-menu .nav-item {
        margin: 0px !important;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 0.8rem;
    }

    .bg-mol-carre-left {
        background-image: url('../img/bg-mol-carre.png');
        background-repeat: no-repeat;
        background-position: left;
        background-size: auto 45%;
    }

    #mega-menu-wrap-menu-1 #mega-menu-menu-1 {
        padding-right: 5%;
    }

    .logo-div {
        left: 5%;
    }
    .nouveau_produit {
        max-width: 70px !important;
        bottom: 5%;
        right: 5%;
    }
}

/* LG Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .logo-frater {
        /*max-height: 45px;*/
        max-width: 100%;
    }

    #mega-menu-wrap-menu-1 #mega-menu-menu-1 {
        padding-right: 5%;
    }

    .logo-div {
        left: 5%;
    }

    .carousel-caption p {
        padding-right: 20%;
        padding-left: 20%;
    }
}

/* XL Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/*=======================================================*/
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

}

@media (min-width: 575.98px) {
    .vh-100 {
        height: 100vh !important;
    }

}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {


    #mega-menu-wrap-menu-1 #mega-menu-menu-1 {
        text-align: right !important;
    }



    .contact-2 form {
        padding: 0px;

    }

}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

    .logo-div {
        width: 160px;
        left: 2%;
    }
    .is-sticky .logo-div {
        padding-top: 2%;
    }

    .contact-1 form {

        padding: 60px 10px 80px 10px;
        text-align: center;

    }

    .introActu h2 {
        font-size: 1rem;
    }

    .portrait img {
        width: 75%;
    }

    .contact-2 form {
        padding: 60px 30px 80px 30px;

    }

    #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link {
        padding: 10px 3px;
        /*padding: 0px 3px;*/
        font-size: 14px;
    }

    .mega-menu-column {
        /*padding: 0px !important;*/
        padding: 20px !important;
    }

    .carousel-caption p {
        padding-right: 15px;
        padding-left: 15px;
    }

    .forme-detail {
        padding: 0.5rem;
        font-size: 12px;

    }

    .section-listProduits .btn.filter-button {
        font-size: 0.8rem;
    }
}
@media (max-width: 800px) {
    .sticky .icon-home a.mega-menu-link {
        background-image: url("../img/icon-home-b.svg") !important;
    }

    .mega-menu-column {
        padding: 0px !important;
        /*padding: 20px !important;*/
    }

    #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link {
        /*padding: 10px 3px;*/
       /* padding: 0px 3px;
        font-size: 14px;*/
    }
    .mega-sub-menu {
        overflow: scroll;
    }


}



/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}
