body {
    font-family: 'Gothic A1', sans-serif;
    color: #05344E;
}

.ibm {
    font-family: 'IBM Plex Sans', sans-serif;
}

header {
    width: 100%;
    position: absolute;
    z-index: 9999;
}

#polylang-2 label {
    display: none;
}
#polylang-2 ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

#polylang-2 .lang-item {
    padding: 10px 20px;
}

#polylang-2 .lang-item:hover, #polylang-2 .current-lang  {
    background-color: #05344E;
    color: #fff;
}
#polylang-2 .lang-item a:hover {
    text-decoration: none;
}

.blue-bg {
    background-color: #05344E;
    color: #fff;
}

.color-1 {
    color: #05344E;
}

.color-2 {
    color: #00AEE5;
}

.bg-color-2 {
    background-color: #00AEE5;
}

.color-3 {
    color: #5E6E77;
}

.ronded-2-30 {

    -webkit-border-radius: 30px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius: 30px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomright: 0px;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;

}

.page strong {
    font-weight: bold !important;
}

.ronded-2-50 {

    -webkit-border-radius: 50px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius: 50px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomright: 0px;
    border-radius: 50px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;

}

.ronded-2-10 {

    -webkit-border-radius: 10px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius: 10px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomright: 0px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.frater-right-ronded {
    -webkit-border-top-right-radius: 80px;
    -moz-border-radius-topright: 80px;
    border-top-right-radius: 80px;
}

.frater-left-bottom-radius {
    -webkit-border-bottom-left-radius: 80px;
    -moz-border-radius-bottomleft: 80px;
    border-bottom-left-radius: 80px;
}

.frater-right-bottom-radius {
    -webkit-border-bottom-right-radius: 80px;
    -moz-border-radius-bottomright: 80px;
    border-bottom-right-radius: 80px;
}

.gray-bg {
    background-color: #E6EAED;
}

.gray-bg-2 {
    background-color: #FCFCFC;
}

.n-mt-40 {
    margin-top: -40px;
}

a {
    color: inherit;
}

a:hover {
    color: #00AEE5;
}

.flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center {
    display: flex;
    align-items: center;

}

.column-2 {
    column-count: 2;
}

.fs-2, .fs-2 p {
    font-size: 0.8rem !important;
}

.fs-1 {
    font-size: 0.9rem !important;
}

.fs-08 {
    font-size: 0.8em;
}

p {
    font-weight: lighter;
}

b {
    font-weight: bold;
}

a.mega-menu-link {
    transition: all 0s ease-in-out !important;
}

/********* Radius *******/
.border-top-left-radius-50 {
    -webkit-border-top-left-radius: 50px;
    -moz-border-radius-topleft: 50px;
    border-top-left-radius: 50px;
}

.border-top-right-radius-50 {
    -webkit-border-top-right-radius: 50px;
    -moz-border-radius-topright: 50px;
    border-top-right-radius: 50px;
}

.border-bottom-right-radius-50 {
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
}

.before-radius-40:before {

    -webkit-border-bottom-left-radius: 40px;
    -moz-border-radius-bottomleft: 40px;
    border-bottom-left-radius: 40px;
    width: 100px;
    height: 50px;

    display: block;
    vertical-align: middle;

    content: '';
    position: absolute;
    bottom: 40px;
    margin-bottom: 0px;
    z-index: 9;
    box-shadow: -38px 0px 0px 0px #fff;

}

.before-radius-40-color-2:before {

    -webkit-border-bottom-left-radius: 40px;
    -moz-border-radius-bottomleft: 40px;
    border-bottom-left-radius: 40px;
    width: 100px;
    height: 50px;

    display: block;
    vertical-align: middle;

    content: '';
    position: absolute;
    bottom: 40px;
    margin-bottom: 0px;
    z-index: 9;
    box-shadow: -38px 0px 0px 0px #E6EAED;

}

.after-radius-40:after {

    -webkit-border-top-right-radius: 40px;
    -moz-border-radius-topright: 40px;
    border-top-right-radius: 40px;
    width: 100%;
    height: 40px;
    /* border-radius: 0 40px 40px 0; */
    background-color: #fff;
    display: block;
    vertical-align: middle;
    /* margin-right: 10px; */
    content: '';
    position: absolute;
    bottom: 0;
    margin-bottom: 0px;
    z-index: 9;
    right: 0;

}

.before-radius-40-color-1:before {

    -webkit-border-bottom-left-radius: 40px;
    -moz-border-radius-bottomleft: 40px;
    border-bottom-left-radius: 40px;
    width: 100px;
    height: 50px;

    display: block;
    vertical-align: middle;

    content: '';
    position: absolute;
    bottom: 40px;
    margin-bottom: 0px;
    z-index: 9;
    box-shadow: -38px 0px 0px 0px #E6EAED;

}

.after-radius-40-color-1:after {

    -webkit-border-top-right-radius: 40px;
    -moz-border-radius-topright: 40px;
    border-top-right-radius: 40px;
    width: 100%;
    height: 40px;
    /* border-radius: 0 40px 40px 0; */
    background-color: #E6EAED;
    display: block;
    vertical-align: middle;
    /* margin-right: 10px; */
    content: '';
    position: absolute;
    bottom: 0;
    margin-bottom: 0px;
    z-index: 9;
    right: 0;

}

.border-bottom-left-radius-50 {
    -webkit-border-bottom-left-radius: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-bottom-left-radius: 50px;
}

.mt-neg-50 {
    margin-top: -50px;
}

/*************logo ***********/
.logo-frater {
    text-indent: -9999px;
    max-height: 80px;
    /************/
   /* background-image: url('../img/logo-w.png');*/
    background-image: url('../img/logo-blanc.svg');
    background-position: left;
    background-size: contain;
    height: 70px;
    width: 235px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.logo-frater-footer {
    text-indent: -9999px;
    max-height: 80px;
    /************/
    /* background-image: url('../img/logo-w.png');*/
    background-image: url('../img/logo-blanc.svg');
    background-position: left;
    background-size: contain;
    height: 70px;
    width: 235px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.is-sticky .logo-frater {
    background-position: 0px 0px;
    background-image: url('../img/logo.svg');
}

    /*************Menu ***********/

/*******Home TOp***********/

.home-top {
    /*margin-right: 5%;*/

    /*************/
    -webkit-box-shadow: 5px 5px 5px 0px rgba(204, 204, 204, 0.2);
    -moz-box-shadow: 5px 5px 5px 0px rgba(204, 204, 204, 0.2);
    box-shadow: 5px 5px 5px 0px rgba(204, 204, 204, 0.2);
}

/***************Serach********/

/**********NAV *************/

.main-menu .nav-item {

    margin: 0px 12px;

}

.menu-container {
    position: relative;

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#navbarSupportedContent {
    position: absolute;
    height: 100%;
    right: 5%;
}

#navbarSupportedContent li {
    display: flex;
    align-items: center;
    /*flex-direction: column;*/
    height: 100%;
    border-bottom: 4px solid transparent;
    transition: all 0.3s ease-in-out;
}

#navbarSupportedContent li:hover {
    border-bottom: 4px solid #009CDD;
    /* cursor: pointer;*/
}

#navbarSupportedContent li a {
    padding-top: 100%;
    padding-bottom: 100%;
}

.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}

nav {
    /* background: #eaebec;*/
    min-height: 85px;
}

.bg-light {
    background-color: transparent !important;
    color: #fff !important;
    /*background-color: #fff !important;*/
    /****/
    /* -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-bottomright: 30px;
    border-bottom-right-radius: 30px;
    margin-right: 5%;*/
    /*************/
    /*-webkit-box-shadow: 5px 5px 5px 0px rgba(204, 204, 204, 0.2);
    -moz-box-shadow: 5px 5px 5px 0px rgba(204, 204, 204, 0.2);
    box-shadow: 5px 5px 5px 0px rgba(204, 204, 204, 0.2);*/
}

/*.bg-light a {
    color: #fff !important;
}*/

nav.is-sticky.bg-light {
    background-color: #fff !important;
}

nav.is-sticky.bg-light a {
    color: #5E6E77 !important;
}

nav.is-sticky.navbar {
    padding: 0;
}

nav.is-sticky .fa-search-fr:before {
    content: "";
    background-image: url(../img/magnifying-glass.svg);
    /* background-image: url(../img/magnifying-glass-white.svg);*/

}

nav.is-sticky .logo-frater {
    max-height: 80px;
    /************/
    background-image: url('../img/logo.png');
    background-position: left;
    background-size: contain;
    height: 70px;
    width: 235px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}

/**********slider**************/

.overlay-slider {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    z-index: 2;
    cursor: pointer;
    opacity: 0.8;

    /**************/
    /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA1MzQ0ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI5ZTgiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(5, 52, 78, 1) 0%, rgba(125, 185, 232, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(5, 52, 78, 1) 0%, rgba(125, 185, 232, 0) 100%);
    background: linear-gradient(to bottom, rgba(5, 52, 78, 1) 0%, rgba(125, 185, 232, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#05344e', endColorstr='#007db9e8', GradientType=0);*/

    /*************/
    background: -moz-linear-gradient(top,  rgba(5,52,78,1) 0%, rgba(5,54,81,1) 1%, rgba(0,174,229,0) 50%, rgba(5,52,78,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(5,52,78,1) 0%,rgba(5,54,81,1) 1%,rgba(0,174,229,0) 50%,rgba(5,52,78,1) 100%);
    background: linear-gradient(to bottom,  rgba(5,52,78,1) 0%,rgba(5,54,81,1) 1%,rgba(0,174,229,0) 50%,rgba(5,52,78,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05344e', endColorstr='#05344e',GradientType=0 );



}

#homeFraterSlider .carousel-item, #homeFraterSliderMobile .carousel-item {
    height: 100vh;
}

.carousel-caption {
    position: absolute;
    right: 0%;
    bottom: 10px;
    left: 0%;
    z-index: 15;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    width: 100%;

    /*******/

    /*background-color: white;
    color: #05344E;*/
    width: 100%;
    display: block;
    padding-top: 20px;

    /*****/
    -webkit-border-top-right-radius: 80px;
    -moz-border-radius-topright: 80px;
    border-top-right-radius: 80px;

}

.carousel-indicators {
    position: absolute;
    right: 0;
    padding-top: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: 47px;
    bottom: 0px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 0%;
    margin-left: 0%;
    list-style: none;
    width: 100%;
   /* background-color: white;*/
}

.cap {
    z-index: 999;
}

.bg-caption {
    position: absolute;
    right: 0;
    padding-top: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: 200px;
    bottom: 0px;
    left: 0;
    z-index: 10;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 0%;
    margin-left: 0%;
    list-style: none;
    width: 100%;
    /*background-color: white;*/
}

.carousel-indicators li {
   /* background-color: #05344E;*/
   background-color: #fff;
}

.carousel-indicators .active {
    background-color: #00AEE5;
}

.carousel-caption h5 {
    font-size: 0.8rem;
    background-color: #00A3DF;
    color: #fff;
    display: inline;
    padding: 7px 10px;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    /* font-weight: bold;*/
}

.carousel-caption p {
    /*font-size: 1.3rem;*/
    font-size: 1.6rem;
    font-weight: 500;
    margin: 20px;
    /*padding-left: 15px;
    padding-right: 15px;
    */
}

/**********slider**************/

.home-apropos {
    margin: 40px 0px;

}

/**********bouton**************/
.pill-all {

    display: inline-block;
    background-color: #00AEE5;
    /*****/
    /*border: 1px solid #E6EAED;*/
    border: 1px solid #E6EAED;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    transition-duration: 0.2s;

}

.pill-1 {
    display: inline-block;
    padding: 22px 20px;
    background-color: #fff;
    color: #00AEE5;
    /******/
    border: 1px solid #E6EAED;
    -webkit-border-radius: 50px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius: 50px;
    -moz-border-radius-topright: 0;
    border-radius: 50px;
    border-top-right-radius: 0;
    margin-left: -2px;
    transition-duration: 0.2s;
}

.pill-2 {
    display: inline-block;
    padding: 13px 20px;
    color: #fff;
    transition-duration: 0.2s;
}

/**hover**/
.pill-all:hover {
    background-color: #fff;
    transition-duration: 0.2s;
    /*font-weight: bold;*/

}

.pill-all:hover .pill-1 {
    background-color: #00AEE5;
    color: #fff;
    transition-duration: 0.2s;
}

.pill-all:hover .pill-2 {
    color: #00AEE5;
    transition-duration: 0.2s;
}

/******pattern************/
.pattern-vertical:before {
    content: "";
    background-image: url('../img/bg-vertival-pat.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 25%;

    display: block;
    float: left;

}

.pattern-vertical:after {
    content: "";
    background-image: url('../img/bg-vertival-pat.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 25%;

    display: block;
    float: right;

}

/**********bouton**************/
/**********old-products************/
.produits-spc-container {
    position: relative;
}

.produits-spc-titre {
    font-weight: 500;
    background-color: #E6EAED;
    position: absolute;
    bottom: 0;
    padding: 10px 0px 10px 40px;
    display: inline-block;
    width: 100%;
    -webkit-border-top-left-radius: 50px;
    -moz-border-radius-topleft: 50px;
    border-top-left-radius: 50px;
}

/******************old-product*****************/

/***************Home produits*************/

.border-top-right,
.home-produits .card,
.home-produits .card-img {
    -webkit-border-radius: 0px !important;
    -webkit-border-top-right-radius: 70px !important;
    -moz-border-radius: 0px !important;
    -moz-border-radius-topright: 70px !important;
    border-radius: 0px !important;
    border-top-right-radius: 70px !important;
    border: none !important;
}

.home-produits .card:hover .card-title {
    background-color: transparent;
    color: #fff;
    transition-duration: 0.5s;
    font-weight: bold;
}

.home-produits .card:hover .card-title::after {
    content: "→";
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 5px;
    transition-duration: 1.5s;
}

.home-produits .card-img-overlay {
    padding-bottom: 0;
}

.home-produits .card-title {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    text-align: left;
    padding-left: 10%;
    padding-bottom: 15px;
    margin-bottom: 0;
    color: #05344E;
    background-color: #E6EAED;
    padding-top: 15px;
    -webkit-border-top-left-radius: 70px;
    -moz-border-radius-topleft: 70px;
    border-top-left-radius: 70px;
    font-weight: inherit;
    font-size: 1.1rem;
}

/*******zooom***********/

.img-hover-zoom {
    /*height: 270px;*/
    /* Modify this according to your need */
    overflow: hidden;
    /* Removing this will break the effects */
}

/* Brightness-zoom Container */
.img-hover-zoom--brightness img {
    transition: transform 0.5s, filter 0.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(100%);
}

/* The Transformation */

.img-hover-zoom--brightness:hover img {
    filter: brightness(100%);
    transform: scale(1.1);
}

/*******zooom***********/

/***************Home produits*************/

/***********Apropos****************/

.propos-quote {

    padding: 8% 3%;
    color: #fff;
    text-align: left;
    /*font-weight: 400;
    line-height: 2.5rem;
    font-size: 1.3rem;*/

}

.home-apropos h3 {
    line-height: 2.7rem;
}

/***********Apropos****************/

/********Réalisations*******/

.real-quote {

    /* padding: 15%;*/
    color: #fff;
    text-align: left;
    /*font-weight: 400;
    line-height: 2.5rem;
    font-size: 1.3rem;*/

}

.realisations h3 {
    line-height: 2.7rem;
}

.realisations a:hover {
    text-decoration: none;
}

.real-icon {
    max-height: 45px;
    margin-bottom: 15px;
    margin-top: 25px;
}

.real-chifre {
    display: block;
    font-size: 3.5rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.real-chifre:after {
    content: "";
    background-color: #00AEE5;
    height: 3px;
    width: 30%;
    display: block;
    margin-bottom: 10px;
}

.real-titre {
    display: block;
    font-size: 1.2rem;
    font-weight: lighter;
}

.real-titre:after {
    content: "→";
    color: #00AEE5;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 5px;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.real-box:hover .real-titre:after {
    visibility: visible;
}

.real-box:hover .real-chifre {
    color: #00AEE5;
    font-size: 3.6rem;

}

/****Carriere ***/
.img-rh-mol {

    position: absolute;
    right: 5%;
    top: -20%;
    max-height: 491px;

}

/******offres******/

.offre {
    padding: 15px 0px;
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
}

.offre span {
    display: block;
}

.offre-title {
    font-weight: 500;

}

.offre-position {
}

.offre-date {
}

.offre-read-more {
    /*background-color: rgb(0, 0, 0);
            padding: 10px;*/
    color: #5E6E77;
    /*text-transform: uppercase;*/
    float: right;
    margin: 10px 0 5px;
    z-index: 999;
    text-decoration: underline;
}

.offre-quote {

    padding: 10px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    line-height: 2.5rem;
    font-size: 1.3rem;

}

.offre-quote .quote {
    max-height: 50px;
}

/**********home-cta************/

.big-mol-hor-top-left {
    position: absolute;
    top: 10%;
    left: 0;
    max-height: 90px;

}

.big-mol-hor-bottom-right {
    position: absolute;
    bottom: 10%;
    right: 0;
    max-height: 90px;

}

.home-cta {
}

.p-5-7-5-5 {
    padding: 5rem 7rem 5rem 5rem;
}

.home-cta-arrow {

    width: 100px;
    margin-bottom: 2rem;

}

.home-cta-right p {
    color: #fff;
    font-size: 1.5rem;
    margin: 10px 0px;
}

.home-cta-left p {
    font-size: 0.9rem;
    line-height: 1.6rem;
    color: #5E6E77;
}

.home-cta a {
    text-decoration: none;
}

.home-cta:hover .container .home-cta-right {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}


.home-cta-arrow {
    background-image: url("../img/fleche-cta-w.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 150px;
    height: 70px;
    /***/
    }
.home-cta-right:hover .home-cta-arrow {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/*************************/

/***********Footer***************/
.home-bottom-right {
    font-family: 'IBM Plex Sans', sans-serif;
}

.home-bottom-right .btn.focus,
.home-bottom-right .btn:focus,
.input-group .form-control:focus {
    box-shadow: none !important;
}

.home-bottom-right .dropdown-item.active,
.home-bottom-right .dropdown-item:active {
    background-color: #00AEE5;
}

.home-bottom-right .dropdown-menu {
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: #f0f2f4;

}

/********************/

footer {
    font-size: 0.9rem;
}

.footer-nav li {
    padding: 5px 0px;
}

.social-media-footer li {
    border: 1px solid #5E6E77;
    width: 40px;
    height: 40px;
    padding-top: 5px;
    /****/
    display: flex;
    align-items: center;
    justify-content: center;
}

/************Footer**************/

/***********Copyright**************/
.copyright {
    font-size: 0.9rem;
}

.copyright p {
    margin-bottom: 0;
}

/*************************/
/*****Page nous connaitre *********/
/*************************/

.overlay-slider-page {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    z-index: 2;
    cursor: pointer;
    opacity: 0.8;
    /*************/
    background: rgb(5, 52, 78);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMDUzNDRlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwYWVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(45deg, rgba(5, 52, 78, 1) 1%, rgba(0, 174, 229, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(5, 52, 78, 1) 1%, rgba(0, 174, 229, 1) 100%);
    background: linear-gradient(45deg, rgba(5, 52, 78, 1) 1%, rgba(0, 174, 229, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#05344e', endColorstr='#00aee5', GradientType=1);
    /******/



    /* -webkit-border-bottom-left-radius: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-bottom-left-radius: 50px;*/
}

.pageHeader {
    position: relative;
    height: 500px;
    color: #fff;
    background-image: url(../img/pageHeader-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /*******/
    /* -webkit-border-bottom-left-radius: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-bottom-left-radius: 50px;*/
}

.pageHeader.header-2 {
    height: 350px;
}

.pageHeader.header-3 {
    height: 350px;
    background-color: #41388B !important;
    background-image: url("../img/header-3-img.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
}

.pageHeaderTitle {
    font-weight: bold;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2rem;
}

.breadcrumb {
    background-color: transparent;
}

.fixed-bottom-center {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1030;
}

.flex-culumn-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ul-header {
    padding-left: 0;
}

.ul-header li {
    background-color: #05344E;
    margin: 9px;
    /* max-width: 225px;*/
    max-width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 30px;
    list-style: none;
}

.ul-header li a {
    padding: 8px 25px;
    display: inline-block;
}

.ul-header li a:before {
    color: #fff;
    content: ">";
    padding-right: 10px;
}

.ul-header li:hover,
.ul-header li.active {
    background-color: #00AEE5;
    color: #fff;
}

.ul-header li a:hover {
    color: inherit;
    text-decoration: none;
}

.pageHeader .breadcrumb-item + .breadcrumb-item::before {
    color: #00AEE5;
    content: ">";
}

.pageHeader .breadcrumb-item.active {
    color: #fff;
}

.pageHeader nav {
    min-height: 0px !important;
}

/*********************************/
/* Presentation groupe */
/*********************************/

.large-text {
    width: 80%;
    border-bottom: 4px solid #E6EAED;
    border-top: 4px solid #E6EAED;
    background-color: #fff;
    /*****/

}

.bg-large-text {
    background-image: url('../img/bg-mol-carre.png'), url('../img/bg-mol-carre.png');
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    background-size: auto 60%, auto 60%;
}

.bg-mol-carre-left {
    background-image: url('../img/bg-mol-carre.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto 60%;
}

/***********************************/

/**Chiffre cle **/

/************************************/

.chiffreClesBox {
    height: 100%;
    background: #E6EAED;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    /**************/
    -webkit-border-top-right-radius: 70px;
    -webkit-border-bottom-left-radius: 70px;
    -moz-border-radius-topright: 70px;
    -moz-border-radius-bottomleft: 70px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    /**************/
    border-top: 5px solid #00AEE5;
}

.radius-border-top-right-bottom-left {
    -webkit-border-top-right-radius: 70px;
    -webkit-border-bottom-left-radius: 70px;
    -moz-border-radius-topright: 70px;
    -moz-border-radius-bottomleft: 70px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
}

.chiffreClesNumber:after {
    content: "";
    display: block;
    height: 8px;
    background-image: url('../img/chiffreClesNumberAfter.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.chiffreClesBox span {
    /*  display: revert;*/
}

.chiffreClesNumber {
    font-size: 3rem;
    font-weight: bold;
}

.chiffreClesTitle {
    text-transform: uppercase;
}

/***********signature************/

.row-links {
    background-image: url('../img/row-links.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 50px;
    width: 70px;
    display: inline-block;
    float: right;
}

.link-js:hover {
    cursor: pointer;
}

.f-15 {
    font-size: 1.5rem;
    font-weight: normal;
}

.sub:after {
    content: "";
    background-color: #00AEE5;
    height: 5px;
    width: 10%;
    display: block;
    margin-top: 20px;
    position: absolute;
    right: 45%;
    left: 45%;
}

.sub-left:after {
    content: "";
    background-color: #00AEE5;
    height: 5px;
    width: 10%;
    display: block;
    margin-top: 20px;
    position: absolute;
    /*right: 45%;
    left: 45%;*/
}

.sub-left-smal:after {
    content: "";
    background-color: #00AEE5;
    height: 3px;
    width: 10%;
    display: block;
    margin-top: 15px;
    position: absolute;
    /*right: 45%;
    left: 45%;*/
}

.f-2, .f-2 p {
    font-size: 2rem;
}

.f-3, .f-3 p {
    font-size: 3rem;
}

.f-4, .f-4 p {
    font-size: 4rem;
}

.f-18, .f-18 p {
    font-size: 1.5rem;
}

.f-13, .f-13 p {
    font-size: 1.3rem;
}

/*******section-approcheTab********/
#missionCarousel .carousel-inner img {
    margin: auto;
    max-height: 200px;
    object-fit: cover;
}

.missionCarouselContainer .nav-pills .nav-link {
    -webkit-border-radius: 0px;
    -webkit-border-top-left-radius: 50px;
    -moz-border-radius: 0px;
    -moz-border-radius-topleft: 50px;
    border-radius: 0px;
    border-top-left-radius: 50px;
    /****/
    border-top: 3px solid #00AEE5;
    background-color: #E6EAED;
    /***/
    padding: 20px 0px;

}

.missionCarouselContainer .nav-pills .nav-link.active {
    background-color: #00AEE5;

}

.missionCarouselContainer #missionCarouselNav .nav-item {

    margin: -75px 0px 0px;
    z-index: 99;
}

.missionCarouselContainer .carousel-control-prev-icon {
    background-image: url(../img/mission-carousel-left.png);
}

.missionCarouselContainer .carousel-control-next-icon {
    background-image: url(../img/mission-carousel-right.png);
}

.missionCarouselContainer .carousel-control-next-icon,
.missionCarouselContainer .carousel-control-prev-icon {
    width: 25px;
    height: 40px;

}

.missionCarouselContainer .carousel-control-next,
.missionCarouselContainer .carousel-control-prev {
    top: -25%;
}

/*****/
#mission img, #vision img, #objectifs img {
    margin: auto;
    max-height: 200px;
    object-fit: cover;
}

.apr-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25px;
    width: 25px;
    display: inline-block;
    margin-bottom: -5px;
}

.apr-icon-1 {
    background-image: url('../img/icon-mission-bleu.png');
}

.nav-link.active .apr-icon-1 {
    background-image: url('../img/icon-mission-blanc.png');
}

.apr-icon-2 {
    background-image: url('../img/icon-vision-bleu.png');
}

.nav-link.active .apr-icon-2 {
    background-image: url('../img/icon-vision-blanc.png');
}

.apr-icon-3 {
    background-image: url('../img/icon-objectif-bleu.png');
}

.nav-link.active .apr-icon-3 {
    background-image: url('../img/icon-objectif-blanc.png');
}

/*******section-approcheTab********/

/**************section accordionApproche*************/

#accordionApproche {
}

.accordion {
    font-size: 1rem;
    /* width: 30vw;*/
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
}

.accordion-header,
.accordion-body {
    background: white;
}

.accordion-header {
    padding: 1.5em 1.5em;
    /*background: #3F51B5;*/
    text-transform: uppercase;
    /*color: white;*/
    color: #05344E;
    cursor: pointer;
    /*font-size: .8em;*/
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: .1em;
    transition: all .3s;

}

.accordion__item.active .accordion-header {
    padding: 1.5em 1.5em 0;
}

.accordion__item.active .accordion-header .title-accordion {
    display: inline-block;
}

.accordion__item.active .accordion-header .title-accordion:after {

    /*border-bottom: 5px solid #00aee5;*/
    content: "";
    background-color: #00AEE5;
    height: 5px;
    width: 80px;
    display: block;
    margin-top: 20px;
    /*position: absolute;
    right: 45%;
    left: 0;*/

}

.accordion-header:hover {
    /*background: #2D3D99;*/
    background: #f7f9fa;
    position: relative;
    z-index: 5;
}

.accordion-body {
    /*background: #fcfcfc;*/
    background: #fff;
    /*color: #3f3c3c;*/
    color: #5E6E77;
    display: none;
}

.accordion-body__contents {
    padding: 1.5em 1.5em;
    font-size: .85em;
    margin-left: 10px;
}

.aprroche-img-accordion {
    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -moz-border-radius-topright: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.accordion__item.active:last-child .accordion-header {
    border-radius: 0;
}

.accordion:first-child > .accordion__item > .accordion-header {
    /*border-bottom: 1px solid transparent;*/
    border-top: 1px solid #C4CFD8;

}

.accordion__item > .accordion-header:after {
    /*content: "\f3d0";*/

    content: "+";
    font-family: IonIcons;
    font-size: 2.2em;
    float: right;
    position: relative;
    top: -15px;
    transition: .3s all;
    transform: rotate(0deg);
    font-weight: lighter;
    color: #00AEE5;

}

.accordion__item.active > .accordion-header:after {
    transform: rotate(-180deg);
    content: "\02012";
    color: #5E6E77;
}

.accordion__item.active .accordion-header {
    /*background: #2D3D99;*/
}

.accordion__item .accordion__item .accordion-header {
    background: #f1f1f1;
    color: black;
}

@media screen and (max-width: 1000px) {
    /*body {
        padding: 1em;
    }*/
    .accordion {
        width: 100%;
    }
}

/****section-approcheColumn***/

.approcheColumn .card {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 5px solid #E6EAED;
    -webkit-border-radius: 30px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius: 30px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomright: 0px;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    z-index: 999;
}

.approcheColumn .card-img-top {
    -webkit-border-radius: 30px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius: 30px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomright: 0px;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.approcheColumn .card-title {
    font-weight: bold;

}

.approcheColumn .fs-09, .fs-09 p {
    font-size: 0.9em;

}

.approcheColumn ul.square-style li:before,
.section-detailPoste ul.square-style li:before,
.presentationGroupe ul.square-style li:before {
    color: #00AEE5;
    content: "\2022";
    font-size: 1.2em;
    padding-right: 0.5em;
    position: relative;
    top: 0em;
}

.approcheColumn ul.square-style li b,
.section-detailPoste ul.square-style li b {
    color: #5E6E77;

}

/**************section-filialesCarousel **********/
.section-filialesCarousel .item img {
    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -moz-border-radius-topright: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

/********** section-filialePartenaires**********/

.partenaires-grid .partenaire {
    height: 200px;
    padding: 10px;

    /* background-color: #fff;*/
    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -moz-border-radius-topright: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.partenaires-grid .partenaire-container {
    /* background-color: #fff;*/
    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -moz-border-radius-topright: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.partenaires-grid .partenaire-container img {
    /*max-width: 60%;*/
    max-height: 100%;

}

/*******section-specialitesCard ************/
.section-specialitesCard a,
.complments-alimentaires a {
    text-decoration: none;
    color: inherit;
}

.section-specialitesCard .card,
.complments-alimentaires .card,
.section-listProduits .card,
.section-produitDetail .card {

    border: 1px solid #E6EAED;
    -webkit-border-radius: 30px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius: 30px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomright: 0px;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    z-index: 999;
    /****/

}

.section-listActu .card,
.section-cultureRh .card {
    border: none;

    /*border: 1px solid #E6EAED;*/
    -webkit-border-radius: 30px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius: 30px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomright: 0px;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    z-index: 999;

    /****/

}

.section-specialitesCard .card-img-top,
.complments-alimentaires .card-img-top,
.section-listProduits .card-img-top,
.section-produitDetail .card-img-top,
.section-listActu .card-img-top,
.section-cultureRh .card-img-top {
    -webkit-border-radius: 30px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius: 30px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomright: 0px;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    /***/

}

/*
.section-specialitesCard .rhumatologie:hover {
    background-color: #41388B;
    color: white;
    transition: all 0.3s ease-in-out;

}
*/
.section-specialitesCard .spec:hover {

    color: white;
    transition: all 0.3s ease-in-out;

}

.section-listProduits .card-img-top img,
.section-produitDetail .card-img-top img {
    max-width: 100%;
}

/******/

.overlay-slider-page-produits {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    z-index: 2;
    cursor: pointer;
    opacity: 0.8;
    /*************/
    /* background: rgb(5, 52, 78);
     background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMDUzNDRlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwYWVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
     background: -moz-linear-gradient(45deg, rgba(5, 52, 78, 1) 1%, rgba(0, 174, 229, 1) 100%);
     background: -webkit-linear-gradient(45deg, rgba(5, 52, 78, 1) 1%, rgba(0, 174, 229, 1) 100%);
     background: linear-gradient(45deg, rgba(5, 52, 78, 1) 1%, rgba(0, 174, 229, 1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#05344e', endColorstr='#00aee5', GradientType=1);*/
    /******/
    /* -webkit-border-bottom-left-radius: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-bottom-left-radius: 50px;*/
}

.section-specialitesCard .cardiologie:hover, .section-specialitesCard .cardiologie img,
.home-produits .cardiologie:hover, .home-produits .cardiologie img, .cardiologie .overlay-slider-page-produits {
    background-color: #BD192C !important;

}

.section-specialitesCard .diabetologie:hover, .section-specialitesCard .diabetologie img,
.home-produits .diabetologie:hover, .home-produits .diabetologie img, .diabetologie .overlay-slider-page-produits {
    background-color: #007DC4 !important;
}

.section-specialitesCard .divers:hover, .section-specialitesCard .divers img,
.home-produits.divers:hover, .home-produits .divers img, .divers .overlay-slider-page-produits {
    background-color: #00296E !important;

}

.section-specialitesCard .gastro-enterologie:hover, .section-specialitesCard .gastro-enterologie img,
.home-produits.gastro-enterologie:hover, .home-produits .gastro-enterologie img, .gastro-enterologie .overlay-slider-page-produits {
    background-color: #F05F13 !important;

}

.section-specialitesCard .gynecologie:hover, .section-specialitesCard .gynecologie img,
.home-produits .gynecologie:hover, .home-produits .gynecologie img, .gynecologie .overlay-slider-page-produits {
    background-color: #FF6976 !important;

}

.section-specialitesCard .hematologie:hover, .section-specialitesCard .hematologie img,
.home-produits.hematologie:hover, .home-produits .hematologie img, .hematologie .overlay-slider-page-produits {
    background-color: #5E060E !important;

}

.section-specialitesCard .infectiologie:hover, .section-specialitesCard .infectiologie img,
.home-produits .infectiologie:hover, .home-produits .infectiologie img, .infectiologie .overlay-slider-page-produits {
    background-color: #83B847 !important;

}

.section-specialitesCard .neurologie:hover, .section-specialitesCard .neurologie img,
.home-produits .neurologie:hover, .home-produits .neurologie img, .neurologie .overlay-slider-page-produits {
    background-color: #6B6E70 !important;

}

.section-specialitesCard .oncologie:hover, .section-specialitesCard .oncologie img,
.home-produits .oncologie:hover, .home-produits .oncologie img, .oncologie .overlay-slider-page-produits {
    /*background-color: #41388B !important;*/
    background-color: #EA1C89 !important;

}

.section-specialitesCard .pediatrie:hover, .section-specialitesCard .pediatrie img,
.home-produits .pediatrie:hover, .home-produits .pediatrie img, .pediatrie .overlay-slider-page-produits {
    background-color: #AD7DB5 !important;

}

.section-specialitesCard .psychiatrie:hover, .section-specialitesCard .psychiatrie img,
.home-produits .psychiatrie:hover, .home-produits .psychiatrie img, .psychiatrie .overlay-slider-page-produits {
    background-color: #169B9B !important;

}

.section-specialitesCard .reanimation:hover, .section-specialitesCard .reanimation img,
.home-produits .reanimation:hover, .home-produits .reanimation img, .reanimation .overlay-slider-page-produits {
    background-color: #81C7CA !important;

}

.section-specialitesCard .rhumatologie:hover, .section-specialitesCard .rhumatologie img,
.home-produits .rhumatologie:hover, .home-produits .rhumatologie img, .rhumatologie .overlay-slider-page-produits {
    background-color: #41388B !important;

}

.section-specialitesCard .urologie:hover, .section-specialitesCard .urologie img,
.home-produits .urologie:hover, .home-produits .urologie img, .urologie .overlay-slider-page-produits {
    background-color: #FFAB34 !important;

}

/**en****/
.section-specialitesCard .cardiology:hover,
.section-specialitesCard .cardiology img,
.home-produits .cardiology:hover,
.home-produits .cardiology img,
.cardiology .overlay-slider-page-produits {
    background-color: #BD192C !important;

}

.section-specialitesCard .diabetology:hover,
.section-specialitesCard .diabetology img,
.home-produits .diabetology:hover,
.home-produits .diabetology img,
.diabetology .overlay-slider-page-produits {
    background-color: #007DC4 !important;
}

.section-specialitesCard .miscellaneous:hover,
.section-specialitesCard .miscellaneous img,
.home-produits.miscellaneous:hover,
.home-produits .miscellaneous img,
.miscellaneous .overlay-slider-page-produits {
    background-color: #00296E !important;

}

.section-specialitesCard .gastroenterology:hover,
.section-specialitesCard .gastroenterology img,
.home-produits.gastroenterology:hover,
.home-produits .gastroenterology img,
.gastroenterology .overlay-slider-page-produits {
    background-color: #F05F13 !important;

}

.section-specialitesCard .gynecology:hover,
.section-specialitesCard .gynecology img,
.home-produits .gynecology:hover,
.home-produits .gynecology img,
.gynecology .overlay-slider-page-produits {
    background-color: #FF6976 !important;

}

.section-specialitesCard .hematology:hover,
.section-specialitesCard .hematology img,
.home-produits.hematology:hover,
.home-produits .hematology img,
.hematology .overlay-slider-page-produits {
    background-color: #5E060E !important;

}

.section-specialitesCard .infectiology:hover,
.section-specialitesCard .infectiology img,
.home-produits .infectiology:hover,
.home-produits .infectiology img,
.infectiology .overlay-slider-page-produits {
    background-color: #83B847 !important;

}

.section-specialitesCard .neurology:hover,
.section-specialitesCard .neurology img,
.home-produits .neurology:hover,
.home-produits .neurology img,
.neurology .overlay-slider-page-produits {
    background-color: #6B6E70 !important;

}

.section-specialitesCard .oncology:hover,
.section-specialitesCard .oncology img,
.home-produits .oncology:hover,
.home-produits .oncology img,
.oncology .overlay-slider-page-produits {
    /*background-color: #41388B !important;*/
    background-color: #EA1C89 !important;

}

.section-specialitesCard .pediatrics:hover,
.section-specialitesCard .pediatrics img,
.home-produits .pediatrics:hover,
.home-produits .pediatrics img,
.pediatrics .overlay-slider-page-produits {
    background-color: #AD7DB5 !important;

}

.section-specialitesCard .psychiatry:hover,
.section-specialitesCard .psychiatry img,
.home-produits .psychiatry:hover,
.home-produits .psychiatry img,
.psychiatry .overlay-slider-page-produits {
    background-color: #169B9B !important;

}

.section-specialitesCard .resuscitation:hover,
.section-specialitesCard .resuscitation img,
.home-produits .resuscitation:hover,
.home-produits .resuscitation img,
.resuscitation .overlay-slider-page-produits {
    background-color: #81C7CA !important;

}

.section-specialitesCard .rheumatology:hover,
.section-specialitesCard .rheumatology img,
.home-produits .rheumatology:hover,
.home-produits .rheumatology img,
.rheumatology .overlay-slider-page-produits {
    background-color: #41388B !important;

}

.section-specialitesCard .urology:hover,
.section-specialitesCard .urology img,
.home-produits .urology:hover,
.home-produits .urology img,
.urology .overlay-slider-page-produits {
    background-color: #FFAB34 !important;

}

/********complement ********/

.pageHeader.header-3.gelphore {
    background-color: #2E3625 !important;
}

.pageHeader.header-3.vivophore {
    background-color: #DDEAD8 !important;
}

.version-en span.breadcrumb-frater {
    display: none;
}

/******/

.section-specialitesCard .card .link,
.section-specialitesCard .card:hover .n-produits {
    display: none;
}

.section-specialitesCard .card:hover .link {
    display: block;
    /*text-decoration: underline;*/
}

.section-specialitesCard .card:hover .link:after {
    content: "→";
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 5px;
    transition-duration: 1.5s;

}

.list-unstyled ul {
    list-style: none;
}

/******complments-alimentaires*******/

/********** section-listProduits ********/

.gallery-title {
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}

.filter-button {
    font-family: 'Gothic A1', sans-serif;
    /*font-size: 18px;*/
    /* border: 1px solid #42B32F;*/
    border-radius: 0px;
    text-align: center;
    /*color: #42B32F;*/
    color: #5E6E77;
    margin-bottom: 30px;
    background-color: transparent;

}

.filter-button:hover {
    /*font-size: 18px;*/
    border-bottom: 3px solid #00AEE5;
    /*border-radius: 5px;*/
    text-align: center;
    color: #05344E;
    /*background-color: #42B32F;*/

}

.btn-default:active .filter-button:active {
    background-color: #42B32F;
    color: white;
}

/*
.section-listProduits .btn:focus {
    box-shadow: none;

}*/
.btn:focus {
    box-shadow: none;

}

.port-image {
    width: 100%;
}

.gallery_product {
    margin-bottom: 30px;
}

/*******section-produitDetail***********/
.section-produitDetail .rounded-pill,
.section-actuSingle .rounded-pill {
    border-radius: 30px;
}

.section-produitDetail ul.square-style li:before, .section-produitDetail .square-style ul li:before, .square-style ul li:before {
    color: #00AEE5;
    content: "\2022";
    font-size: 1.2em;
    padding-right: 0.5em;
    position: relative;
    top: 0em;
}

.section-produitDetail ul.square-style li b, .square-style ul li b {
    color: #5E6E77;

}

.square-style ul {
    padding: 0px !important;
}

.section-produitDetail .square-style ul {
    padding-left: 1rem !important;
}

.pattern-2 {
    background-image: url(../img/pattern-2.png);

}

.forme-detail {
    padding: 1rem;

}
.section-listProduits .card, .relateds-pruducts .card {
    background-color: #cccccc24;
}

.section-listProduits .card-img-top, .relateds-pruducts .card-img-top {
    background-color: #fff;
}

.section-listProduits a:hover .card, .relateds-pruducts a:hover .card {
    background-color: #00aee533;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,176,229,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,176,229,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,176,229,0.2);
}

.section-listProduits a:hover, .relateds-pruducts a:hover {
    text-decoration: none;
    color: #05344E;
}

/**************/
.nouveau_produit {
    max-width: 70px !important;
    bottom: 5%;
    right: 5%;
}
/**************/

/**********section-listActu**************/

.section-listActu .actu-categorie,
.section-cultureRh .actu-categorie {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px 5px;
    /***/
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-bottomright: 30px;
    border-bottom-right-radius: 30px;

}

.section-listActu .actu-actudate,
.section-cultureRh .actu-actudate {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 70px;
    text-align: center;
}

.fs-15 {
    font-size: 1.5rem;
}

.fs-06 {
    font-size: 0.6rem;
}

.lh-1 {
    line-height: 1rem;
}

.bb-color-2 {

    border-bottom: 2px solid #00AEE5;
    padding-bottom: 5px;
    margin-bottom: 5px;
    display: inline-block;

}

/********section-actuSingle*********/

.section-actuSingle .actu-actudate {
    position: absolute;
    /* bottom: 0; */
    /* left: 0; */
    max-width: 70px;
    text-align: center;
    padding: 20px;
}

.blockquote-frater-1 {
    color: #05344E;
    font-size: 0.9rem;
    float: left;
    max-width: 380px;
    overflow: auto;
    background-color: #E6EAED;
    margin-left: 30%;
    margin-right: -30px;
    padding: 20px;
    -webkit-border-top-right-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-radius-topright: 30px;
    -moz-border-radius-bottomleft: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.pattern-3 {
    content: "";
    float: left;
    max-width: 390px;
    background-image: url('../img/pattern-3.png');
    background-position: 0 center;
    background-repeat: no-repeat;
    margin-left: -30%;
    margin-right: 50px;
    background-size: auto 80%;
}

.blockquote-frater-1 .author {
    float: right;
    display: block;
    margin-top: 10px;
    font-weight: bold;
    background-image: url(../img/quote-blue-2.png);
    background-position: left -21px;
    background-repeat: no-repeat;
    background-size: 25px;
    padding: 15px 10px 0px 30px;
}

.blockquote-frater-2 {
    padding: 50px;
    border: 1px solid #E6EAED;
    -webkit-border-top-right-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-radius-topright: 30px;
    -moz-border-radius-bottomleft: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    /***/
    text-align: center;
    position: relative;
    margin: 20px 0px;
}

.blockquote-frater-2::before {
    content: '"';
    display: block;
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-bottom: 1px solid #E6EAED;

    border-top: 1px solid #fff;
    position: absolute;
    top: -30px;

    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;

    padding-top: 5px;
    font-size: 3rem;
    color: #00AEE5;
}

.blockquote-frater-2:after {
    content: '"';
    display: block;
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-top: 1px solid #E6EAED;

    border-bottom: 1px solid #fff;
    position: absolute;
    bottom: -30px;
    right: 20px;

    border-top-right-radius: 50%;
    border-top-left-radius: 50%;

    padding-top: 5px;
    font-size: 3rem;
    color: #00AEE5;
}

.section-actuSingle ul.square-style li:before {
    color: #05344E;
    content: "\2022";
    font-size: 1rem;
    padding-right: 0.9em;
    position: relative;
    top: 0em;
}

.section-actuSingle {
    color: #05344E !important;

}

.section-actuSingle ul.square-style li {
    color: #05344E;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.blockquote-frater-3 {
    border-left: 3px solid #00AEE5;
    padding-left: 30px;
}

/************section-timeline****************/
.section-timeline .border-right {
    border-right: 3px solid #dee2e6 !important
}

/******section-al-razi*******/

.gradient-razi {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.02) 51%, rgba(230, 234, 237, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.02) 51%, rgba(230, 234, 237, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.02) 51%, rgba(230, 234, 237, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#e6eaed', GradientType=0);
}

.pattern-4 {
    background-image: url('../img/pattern-4.png');
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: contain;
}

.section-al-razi ul.square-style li {
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.section-al-razi ul.square-style li:before {
    color: #00AEE5;
    content: "\2022";
    font-size: 1.2em;
    padding-right: 0.5em;
    position: relative;
    top: 0em;
}

.page-template-tlp_historique ul {

    font-size: 0.9em;
    font-weight: lighter;

}


/*********************contact *******************/

.pb-85 {
    padding-bottom: 85px;
}

.contact-1 {
    border: 1px solid #E6EAED;
    margin-top: -100px;
    z-index: 99;
    background-color: white;

}

.contact-1 form {

    padding: 60px 120px 80px 120px;
    text-align: center;

}

.contact-1 label, .contact-1 .label, .contact-2 .label {
    display: block;
    position: relative;
    margin: 40px 0px;
}

.contact-1 .label-txt {
    position: absolute;
    top: -1.6em;
    padding: 10px;
    /*font-family: sans-serif;*/
    font-size: .8em;
    letter-spacing: 1px;
    color: rgb(120, 120, 120);
    transition: ease .3s;
}

.contact-1 .input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
}

.contact-1 .input[type="textarea"] {
    height: 150px;
}

.contact-1 .line-box {
    position: relative;
    width: 100%;
    /*height: 2px;*/
    height: 1px;
    background: #BCBCBC;
}

.contact-1 .line {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    /*background: #8BC34A;*/
    background: #00AEE5;
    transition: ease .6s;
}

.contact-1 .input:focus + .line-box .line {
    width: 100%;
}

.contact-1 .line-100 .line, .contact-2 .line-100 .line {
    width: 100%;
}

.contact-1 .label-active {
    top: -3em;
    font-size: 0.6em;
}

.contact-1 button, .contact-1 .wpcf7-submit, .contact-2 .wpcf7-submit {
    display: inline-block;
    padding: 12px 24px;
    background: white;
    font-weight: bold;
    color: rgb(120, 120, 120);
    border: 1px solid #00AEE5;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    transition: ease .3s;
    font-size: .8rem;
    font-weight: 300;
    padding: 15px 40px;
    float: left;
}

.contact-1 button:hover, .contact-1 .wpcf7-submit:hover, .contact-2 .wpcf7-submit:hover {
    background: #00AEE5;
    color: white;
}

.contact-1 select.input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*****/
    background-image: url('../img/select-row.png');
    background-repeat: no-repeat;
    background-position: right center;
}

/***********strategie*************/

#strategieCarousel .carousel-inner img {
    margin: auto;
    max-height: 200px;
    object-fit: cover;
}

.strategieCarouselContainer .nav-pills .nav-link {
    -webkit-border-radius: 30px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius: 30px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomright: 0px;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    /****/
    background-color: #E6EAED;
    /***/
    padding: 20px 0px;
    height: 250px;

}

.strategieCarouselContainer .nav-pills .nav-link.active {
    background-color: #00AEE5;

}

.strategieCarouselContainer #missionCarouselNav .nav-item {
    margin: -75px 5px 0px;
    z-index: 99;
}

.strategieCarouselContainer .pattern-4 {
    background-image: url('../img/pattern-4.png');
    background-position: 0px 25px;
    background-repeat: no-repeat;
    background-size: 16%;
}

.str-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px;
    height: 80px;
    width: 80px;
    display: block;
    margin-bottom: 10px;
}

.str-icon-1 {
    background-image: url('../img/str-icon-1.png');
    border-bottom: 3px solid #00AEE5;
}

.nav-link.active .str-icon-1 {
    background-image: url('../img/str-icon-1-h.png');
    border-bottom: 3px solid #FFF;
}

.str-icon-2 {
    background-image: url('../img/str-icon-2.png');
    border-bottom: 3px solid #00AEE5;
}

.nav-link.active .str-icon-2 {
    background-image: url('../img/str-icon-2-h.png');
    border-bottom: 3px solid #FFF;
}

.str-icon-3 {
    background-image: url('../img/str-icon-3.png');

    border-bottom: 3px solid #00AEE5;
}

.nav-link.active .str-icon-3 {
    /*background-image: url('../img/str-icon-3-h.png');*/
    background-image: url('../img/str-icon-3-h.svg');
    border-bottom: 3px solid #FFF;
}

/***********************notre culture ****************/

.portrait::before {
    content: '"';
    display: block;
    height: 20px;
    width: 20px;
    font-size: 100px;
    position: absolute;
    left: 20%;
    color: #00AEE5;
}

.portrait img {
    width: 50%;
}

/*******************postePouvoir**************************/

.section-pouvoir .poste-p.active:hover,
.section-pouvoir .poste-p:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.postuler-btn {
    transition: all 0.3s ease-in-out;
    font-size: 0.9rem;
    color: #5E6E77;
    background-color: #E6EAED;
    border-radius: 50px;
    padding: 10px 30px;
    display: block;
    cursor: pointer;
    justify-content: center;
    display: flex;
}

.postuler-btn:hover {
    color: #fff;
    background-color: #00AEE5;
    border-radius: 50px;
    padding: 10px 30px;
    display: block;
}

/*******************section-detailPoste*******************************/

.section-detailPoste .pattern-5 {
    background-image: url('../img/pattern-5.png');
    background-position: 0 center;
    background-repeat: repeat;
    background-size: contain;
}

.section-detailPoste .down-arrow {
    bottom: -30px
}

.contact-2 {
    border: 1px solid #E6EAED;
    /*margin-top: -100px;*/
    margin-top: 50px;
    z-index: 99;
    background-color: white;
}

.contact-2 form {
    padding: 60px 120px 80px 120px;
    /*text-align: center;*/
}

.contact-2 label {
    display: block;
    position: relative;
    margin: 40px 0px;
}

.contact-2 .label-txt {
    position: absolute;
    top: -1.6em;
    padding: 10px;
    /*font-family: sans-serif;*/
    font-size: .8em;
    letter-spacing: 1px;
    color: rgb(120, 120, 120);
    transition: ease .3s;
}

.contact-2 .input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
}

.contact-2 .input.in-50 {
    width: 50%;

}

.contact-2 .input[type="textarea"] {
    height: 150px;
}

.contact-2 .line-box {
    position: relative;
    width: 100%;
    /*height: 2px;*/
    height: 1px;
    background: #BCBCBC;
}

.contact-2 .line-box.in-50 {

    width: 50%;

}

.contact-2 .line {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    /*background: #8BC34A;*/
    background: #00AEE5;
    transition: ease .6s;
}

.contact-2 .input:focus + .line-box .line {
    width: 100%;
}

.contact-2 .label-active {
    top: -3em;
    font-size: 0.6em;
}

.contact-2 button {
    display: inline-block;
    padding: 12px 24px;
    background: white;
    font-weight: bold;
    color: rgb(120, 120, 120);
    border: 1px solid #00AEE5;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    transition: ease .3s;
    font-size: .8rem;
    font-weight: 300;
    padding: 15px 40px;
    float: left;
}

.contact-2 button:hover {
    background: #00AEE5;
    color: white;
}

.contact-2 select.input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*****/
    background-image: url('../img/select-row.png');
    background-repeat: no-repeat;
    background-position: right center;
}

/****************PDG**********************/

.pdg-img-1 {
    max-width: 35%;
}

.section-pdg .bg-mol-carre-left {
    background-image: url('../img/bg-mol-carre.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 50%;
}

.section-pdg .bg-mol-carre-left:after {
    content: "";
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: #00AEE5;
    margin-right: 30px;
    float: right;
    margin-top: -35%;
    /********/
    -webkit-border-radius: 30px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius: 30px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomright: 0px;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;

}

/***********/
.section-pdg .pattern-5 {
    background-image: url('../img/pattern-5.png');

    background-position: bottom;

    background-repeat: no-repeat;

    background-size: contain;

    padding-bottom: 30px;
}

/*****************************/

.section-complementsAlimentaires .bg-mol-carre-left {
    background-image: url('../img/pattern-3-gris.png');
}

/************menu ************/

/*#mega-menu-menu-1 li {
    float: left;
    margin: 20px;
    list-style: none;
}*/

.logo-div {
    position: absolute;
    left: 10%;
    z-index: 99999999;

}

.is-sticky .logo-div {
    padding-top: 7px;
}

.is-sticky.bg-light {
    background-color: #fff !important;
}

.is-sticky.bg-light .menu a, .sticky.bg-light .menu a  {
    color: #05344E !important;
}

.is-sticky #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link {
    color: #05344E !important;
}

/*
.is-sticky.bg-light .mega-menu > li a {
    color: #05344E !important;
}
*/
ul.mega-sub-menu > a {
    color: #05344E !important;
}

.sticky.is-sticky .hideIsSticky {
    display: none;
}

.sticky .hideIsSticky {
    display: block;
}

.sticky.is-sticky .showIsSticky {
    display: block;
}

.sticky .showIsSticky {
    display: none;
}

#mega-menu-wrap-menu-1 {
    margin-top: 10px;

}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 {
    padding-right: 10%;
}

#mega-menu-menu-1 {
    padding-top: 10px !important;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link {
    display: flex;
    align-items: center;
    height: 100%;
    border-bottom: 4px solid transparent;
    transition: all 0.3s ease-in-out;
    padding: 10px;
}

.sticky .icon-home a.mega-menu-link {
    width: 50px !important;
    text-indent: -9999px !important;
    display: inline-block;
    /*background-image: url("../img/icon-home.png") !important;*/
    background-image: url("../img/icon-home.svg") !important;
    background-position: center !important;
    background-size: 30px !important;
    background-repeat: no-repeat !important;
    margin: 0px 10px !important;
}

.sticky.is-sticky .icon-home a.mega-menu-link {
   /* background-image: url("../img/icon-home-b.png") !important;*/
   background-image: url("../img/icon-home-b.svg") !important;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item h4.mega-block-title {
    color: #05344E;
}

.mega-sub-menu {
    background-color: #E6EAED !important;
}

/*
ul.mega-sub-menu {
    height: 75vh!important;
}
*/
.mega-menu-column {
    padding: 50px !important;
}

.mega-menu-column ul li {
    list-style: none;
}

.mega-menu-column .menu {
    padding-left: 0px !important;
}

.menu li, .mega-sub-menu li.cat-item {
    border-bottom: 1px dotted #C4CFD8;
    padding: 8px;
}

.col-menu-back {
    padding: 60px 10px !important;
    background-color: #fff !important;
    -webkit-border-bottom-right-radius: 50px !important;
    -moz-border-radius-bottomright: 50px !important;
    border-bottom-right-radius: 50px !important;
}

#mega-menu-item-lc_taxonomy-3 {
    padding: 0px !important;
}

.mega-block-title {
    padding: 15px 0px !important;
}

#lct-widget-specialites {
    column-count: 2;
}

img.black {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

img.black-2 {
    filter: grayscale(85%);
    -webkit-filter: grayscale(85%);
    -moz-filter: grayscale(85%);
    -ms-filter: grayscale(85%);
    -o-filter: grayscale(85%);
}

img.black-2:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}

.op0-5 {
    opacity: 0.5;
}


#mega-menu-wrap-menu-1 .mega-menu-toggle .mega-toggle-block-1 .mega-toggle-label, #mega-menu-wrap-menu-1 .mega-menu-toggle .mega-toggle-block-1::after {
    color: #fff !important;
}

.is-sticky #mega-menu-wrap-menu-1 .mega-menu-toggle .mega-toggle-block-1 .mega-toggle-label,
.is-sticky #mega-menu-wrap-menu-1 .mega-menu-toggle .mega-toggle-block-1::after {
    color: #05344e !important;
}