<section class="pageHeader header-2 before-radius-40 after-radius-40"
		 {% if post.meta('image_background') %}style="background-image: url({{ Image(post.meta('image_background')).src }})" {% endif %}>
	<div class="overlay-slider-page " {% if post.meta('flat') %} style="background: rgb(5, 52, 78);" {% endif %}></div>
	<div class="fixed-bottom-center mb-5">
		<div class="container">
			<div class="row d-flex align-items-end mb-3">
				<div class="col">
					<h1 class="pageHeaderTitle">{{ __('News', 'frater-razes') }}</h1>
				</div>
			</div>
		</div>
	</div>
</section>