<footer class="footer p-5 color-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4"> <img src="img/logo-footer.png" class="logo-frater mb-3" alt="Frater">
                <p>SPA LES LABORATOIRES FRATER-RAZES<br> 08 Site Oued El Kerma Saoula,<br> Alger - Algérie </p>
            </div>
            <div class="col-sm-6 col-md-4">
                <h4 class="color-2 mb-4">Naviguer</h4>
                <div>
                    <ul class="list-unstyled column-2 footer-nav">
                        <li><a href="#">Accueil</a></li>
                        <li><a href="#">Nous connaître</a></li>
                        <li><a href="#">Espace carrière</a></li>
                        <li><a href="#">Produits</a></li>
                        <li><a href="#">Actualités</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <h4 class="color-2 mb-4">Restez connectés</h4>
                <p>Suivez les laboratoires FRATER-RAZES sur les réseaux sociaux et restez informé de nos nouvelles</p>
                <ul class="social-media-footer d-flex flex-row list-unstyled color-1">
                    <li class="list-inline-item rounded-circle"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item rounded-circle"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item rounded-circle"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    <li class="list-inline-item rounded-circle"><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer> <!-- #footer -->
<!-- footer -->
<div class="copyright blue-bg py-3 ">
    <div class="container">
        <div class="row text-center ">
            <div class="col-sm-4 text-left flex-center-center">
                <p><span class="mr-3"><a href="#">Mentions légales</a> </span> <span><a href="#">Plan de site</a></span></p>
            </div>
            <div class="col-sm-4 flex-center-center">
                <p>2019 © Tous droits réservés. </p>
            </div>
            <div class="col-sm-4 text-right flex-center-center">
                <p>Conçu et développé par <a href="#"><img src="img/logo-shiftin.png" class="w-25 pl-1"></a></p>
            </div>
        </div>
    </div>
</div> <!-- #footer -->
<!-- Bootstrap core JavaScript ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->

<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="js/owl.carousel.min.js"></script>
<script src="js/script-frater.js"></script>
<script> </script>
</body>

</html>
