<body>
<!--top header-->
<header class="">
    <!--most top info -->
    <!--<div style="height: 40px; background: #f2f9ee; margin-right: 5%; "></div>-->
    <section class="home-top gray-bg p-0 d-none d-sm-block ">
        <div class="container">
            <div class="row ">
                <div class="col-12 col-sm-12 col-md-5 col-lg-7 home-bottom-left flex-center d-none d-sm-none d-md-block">
                    <p class="m-0 py-3">Notre <b>Savoir</b> Nourrit Votre <b>SANTÉ</b></p>
                </div>
                <div class="col-12 col-sm-12 col-md-7 col-lg-5 p-2 home-bottom-right">
                    <div class="row">
                        <div class="col-6 col-sm-7 col-md-8">
                            <div class="text-right flex-center-center"><i class="fas fa-headset m-2"></i><span class="fs-2">Service consommateur<br> +213 (0) 23 53 81 19</span></div>
                        </div>
                        <div class="col-6 col-sm-5 col-md-4">
                            <div class="text-right flex-center-center"><i class="fas fa-globe-americas"></i>
                                <div class="dropdown "> <a class="btn dropdown-toggle fs-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Langue </a>
                                    <div class="dropdown-menu fs-2" aria-labelledby="dropdownMenuLink"> <a class="dropdown-item active" href="#">Fr</a> <a class="dropdown-item" href="#">En</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End most top info -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-light top-navbar" data-toggle="sticky-onscroll">

        <div class="container menu-container">
            <a class="navbar-brand logo-frater" href="#">
                <!-- <img src="img/logo-w.png" class="logo-frater" alt="Frater">-->
                <span class="logo-frater"></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="main-menu navbar-nav h-100 align-items-center">
                    <li class="nav-item"> <a class="nav-link active" href="index.php"><i class="fas fa-home"></i></a> </li>
                    <li class="nav-item"> <a class="nav-link" href="page-nousConnaitre.php">Nous connaître</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">Produits</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">Actualités</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">Espace carrière</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">Contact</a> </li>
                    <!---<li class="nav-item"> <a class="btn color-1" href="#"><i class="fas fa-search"></i></a> </li>-->
                </ul>

            </div>
            <form class="search d-none d-md-block">
                <div class="search__wrapper">
                    <input type="text" name="" placeholder="Search for..." class="search__field">
                    <button type="submit" class="fa fa-search-fr search__icon"></button>
                </div>
            </form>
        </div>

    </nav>
</header> <!-- End top header-->
