{{ include('section-pageHeader-3.html.twig') }}
{% if lang=='en' %}
	{{ include('EN_section-listProduits.html.twig') }}
{% else %}
	{{ include('section-listProduits.html.twig') }}
{% endif %}
{{ include('section-homeBottom.html.twig') }}

