{% for post in posts %}
{{ include('section-pageHeader.html.twig') }}
{{ include('section-approcheTab.html.twig') }}
{{ include('section-approcheAccordion.html.twig') }}
{{ include('section-approcheColumn.html.twig') }}
{{ include('section-linksAutresPages.html.twig') }}
{{ include('section-homeBottom.html.twig') }}
{% endfor %}



