{% for post in posts %}
{{ include('section-pageHeader.html.twig') }}
{{ include('section-presentationGroupe.html.twig') }}
{{ include('section-chiffresCles.html.twig') }}
	{% if lang=='en' %}
		{{ include('section-signature-en.html.twig') }}
	{% else %}
		{{ include('section-signature.html.twig') }}
	{% endif %}
{{ include('section-linksAutresPages.html.twig') }}
{{ include('section-homeBottom.html.twig') }}
{% endfor %}

