{{ include('section-pageHeader-Filiales.html.twig') }}
{{ include('section-filialesActivitesResume.html.twig') }}
{% if images|length > 0 %}
{{ include('section-filialesCarousel.html.twig') }}
{% endif %}
{{ include('section-filialesText.html.twig') }}
{% if  post.meta('partenaires') |length > 0 %}
{{ include('section-filialesPartenaires.html.twig') }}
{% endif %}
{% if post.meta('chifre_1').number_1 %}
{{ include('section-chiffresClesFiliale.html.twig') }}
{% endif %}
{{ include('section-linksAutresPages.html.twig') }}
{{ include('section-homeBottom.html.twig') }}