{% for post in posts %}
{{ include('section-pageHeader.html.twig') }}
{{ include('section-strategieTab.html.twig') }}
{{ include('section-linksAutresPages.html.twig') }}
{{ include('section-homeBottom.html.twig') }}
{% endfor %}