{% if lang=='en' %}
	{{ include('EN_section-pageHeader-actu.html.twig') }}
{% else %}
	{{ include('section-pageHeader-actu.html.twig') }}
{% endif %}
{{ include('section-listActu.html.twig') }}
{{ include('section-homeBottom.html.twig') }}
