{{ include('section-pageHeader.html.twig') }}
{{ include('section-pouvoir.html.twig') }}
{% for post in posts %}
{{ include('section-homeCta.html.twig') }}
{% endfor %}
{{ include('section-homeBottom.html.twig') }}
