{% for post in posts %}
{{ include('section-pageHeader.html.twig') }}
{{ include('section-signification.html.twig') }}
{{ include('section-al-razi.html.twig') }}
{{ include('section-homeBottom.html.twig') }}
{% endfor %}

