{% for post in posts %}
{{ include('section-pageHeader.html.twig') }}
{{ include('section-candidature.html.twig') }}
{{ include('section-homeCta.html.twig') }}
{{ include('section-homeBottom.html.twig') }}
{% endfor %}


