{% for post in posts %}
{{ include('section-pageHeader.html.twig') }}
{{ include('section-pdg.html.twig') }}
{{ include('section-linksAutresPages.html.twig') }}
{{ include('section-homeBottom.html.twig') }}
{% endfor %}