<section class="section-specialitesCard">
	<div class="container">
		<h2 class="mb-4 ">{{ __('Spécialités', 'frater-razes') }}
		</h2>
		<div class="row">
			{% for specialite in specialites %}
				<div class="col-sm-6 col-md-4 col-lg-3">
					<a href="{{ specialite.link }}">
						<div class="card my-3 spec {{ specialite.slug }}">
							<img src="{{ Image(specialite.meta('image_specialite')).src }}" class="card-img-top p-3"
								 alt="{{ specialite.title }}"
								 style="background-color: {{ specialite.meta('couleur') }}">
							<div class="card-body">
								<h6 class="">{{ specialite.title }}</h6>
								<span class="n-produits fs-08">{{ specialite.count }} {{ __('Produits', 'frater-razes') }}
</span>
								<span class="fs-08 link"> {{ __('Découvrir les produits', 'frater-razes') }}</span>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
{% if complements|length > 0 %}
	<section class="complments-alimentaires">
		<div class="container">
			<h2 class="my-4 ">{{ __('Compléments Alimentaires', 'frater-razes') }}</h2>
			<div class="row mb-4">

				{% for complement in complements %}
					<div class="col-sm-6">
						<a href="{{ complement.link }}">
							<div class="card my-3 rhumatologie">
								<img src="{{ Image(complement.meta('image_specialite')).src }}" class="card-img-top"
									 alt="{{ complement.title }}">
								<div class="card-body">
									<h6 class="">{{ complement.title }}</h6>
									<span class="fs-08 link">{{ __('Découvrir les produits', 'frater-razes') }} <i>→</i></span>
								</div>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}
