<section class="section-signification">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="sub mb-5">{{ post.meta('titre_block_1') }}</h2>
				<div class="fs-09">{{ post.meta('text_block_1') }} </div>
				<div class="my-3"><span class=" f-2 pt-2">FRATER </span><span><img
								src="{{ racine }}/views/img/slash.png" height="75px"></span> <span class="f-2 pt-2"> RAZES</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row pattern-2 no-gutters">
		<div class="container">
			<div class="row my-3 py-4">
				<div class="col-sm-6 mb-3">
					<div class="gray-bg p-5 ronded-2-30">
						<h4 class="sub-left-smal mb-4">FRATER</h4>
						<div class="fs-09">{{ post.meta('fraternite') }}</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="gray-bg p-5 ronded-2-30">
						<h4 class="sub-left-smal mb-4">RAZES</h4>
						<div class="fs-09">{{ post.meta('razes') }}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>