<section class="section-listActu">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div align="center">
				<button class="btn btn-default filter-button" data-filter="all">{{ __('Tous', 'frater-razes') }}</button>
				{% for categorie in categories %}
					<button class="btn btn-default filter-button"
							data-filter="{{ categorie.slug }}">{{ categorie.title }}</button>
				{% endfor %}
			</div>
			<br/>
		</div>
		<div class="row">
			{% for article in articles %}
				<div class="gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-12 filter {% for term in article.terms('category') %}{{ term.slug }} {% endfor %}">
					<a href="{{ article.link }}">
						<div class="card my-3 rhumatologie">
							<div class="card-img-top flex-center-center border-bottom position-relative">
								<span class="actu-categorie bg-color-2 fs-08 text-white text-uppercase">
									{{ article.terms('category')|join(' | ') }}
								</span>
								<span class="actu-actudate card-img-top blue-bg p-3 text-white text-uppercase lh-1 "><span
											class="fs-15 bb-color-2">{{ article.post_date|date('d') }}</span> <span
											class="fs-06">{{ article.post_date|date('M Y') }}</span></span>
								<img src="{{ article.thumbnail }}" class="card-img-top" alt="{{ article.title }}">
							</div>
							<div class="card-body">
								<h6 class="d-inline ">{{ article.title }}</h6>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
