<section class="section-filialesPartenaires gray-bg">
	<div class="container">
		<div class="col-12 text-center">
			<h2 class="pb-5 pt-3 sub"><b>{{ __('Partenaires', 'frater-razes') }}</b></h2>
		</div>
		<div class="row partenaires-grid mt-3 pb-5">
			{% for partenaire in post.meta('partenaires') %}
				<div class="col-sm-4 flex-center-center partenaire">
					<div class="bg-white h-100 w-100 flex-center-center partenaire-container"><img
								src="{{ partenaire.thumbnail }}" class="img-fluid"></div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
