<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<h2 class="sub-left mb-5">{{ post.meta('titre_1') }}</h2>
				{{ post.meta('activites') }}
			</div>
			<div class="col-sm-5 gray-bg frater-right-ronded frater-left-bottom-radius d-flex align-items-center p-5">
				<div class="fs-09">
					<h4 class="sub-left-smal fs-12 mb-5">{{ post.meta('titre_2') }}</h4>
					<div class="list-unstyled square-style">
						{{ post.meta('resume') }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
