<section class="chiffresCles position-relative before-radius-40-color-1 after-radius-40-color-1 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="py-4 sub"><b>{{ __('Chiffres Clés', 'frater-razes') }}</b></h2>
			</div>
		</div>
		<div class="row py-4">
			<div class="col-6 col-sm-6 col-md-3 col-lg-3 my-2">
				<div class="chiffreClesBox">
					<span class="chiffreClesNumber">{{ post.meta('chifre_1').number_1 }}</span>
					<span class="chiffreClesTitle">{{ post.meta('chifre_1').text_number_1 }}</span>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-3 my-2">
				<div class="chiffreClesBox">
					<span class="chiffreClesNumber">{{ post.meta('chifre_2').number_2 }}</span>
					<span class="chiffreClesTitle">{{ post.meta('chifre_2').text_number_2 }}</span>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-3 my-2">
				<div class="chiffreClesBox">
					<span class="chiffreClesNumber">{{ post.meta('chifre_3').number_3 }}</span>
					<span class="chiffreClesTitle">{{ post.meta('chifre_3').text_number_3 }}</span>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-3 my-2">
				<div class="chiffreClesBox">
					<span class="chiffreClesNumber">{{ post.meta('chifre_4').number_4 }}</span>
					<span class="chiffreClesTitle">{{ post.meta('chifre_4').text_number_4 }}</span>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-3 my-2">
				<div class="chiffreClesBox">
					<span class="chiffreClesNumber">{{ post.meta('chifre_5').number_5 }}</span>
					<span class="chiffreClesTitle">{{ post.meta('chifre_5').text_number_5 }}</span>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-3 my-2">
				<div class="chiffreClesBox">
					<span class="chiffreClesNumber">{{ post.meta('chifre_6').number_6 }}</span>
					<span class="chiffreClesTitle">{{ post.meta('chifre_6').text_number_6 }}</span>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-3 my-2">
				<div class="chiffreClesBox">
					<span class="chiffreClesNumber">{{ post.meta('chifre_7').number_7 }}</span>
					<span class="chiffreClesTitle">{{ post.meta('chifre_7').text_number_7 }}</span>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-3 col-lg-3 my-2">
				<div class="chiffreClesBox">
					<span class="chiffreClesNumber">{{ post.meta('chifre_8').number_8 }}</span>
					<span class="chiffreClesTitle">{{ post.meta('chifre_8').text_number_8 }}</span>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="nousConnaitreQuote gray-bg position-relative before-radius-40 after-radius-40">
	<div class="container">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10 text-center p-3 mt-neg-50 f-2">
				<img src="{{ racine }}/views/img/quote-blue-1.png" class="img-fluid">
				{{ post.meta('text_4') }}
				<img src="{{ racine }}/views/img/quote-blue-2.png" class="img-fluid">
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
</section>
