<section class="frater-slider d-none d-lg-block">
	<div id="homeFraterSlider" class="carousel slide carousel-fade" data-ride="carousel">
		<ol class="carousel-indicators">
			{% for slid in slider %}
				<li data-target="#homeFraterSlider" data-slide-to="{{ loop.index0 }}"
					class="{% if loop.first %}active{% endif %}"></li>
			{% endfor %}
		</ol>
		<div class="carousel-inner">
			{% for slid in slider %}
				<div class="carousel-item slider-bg {% if loop.first %}active{% endif %}"
					 style="background-image: url({{ Image(slid.meta('image_large')).src }}); background-size: cover;">
					<div class="overlay-slider"></div>
					<div class="carousel-caption d-md-block">
						{% if slid.meta('titre_slider') %}<h5 class="flex-center-center">{{ slid.meta('titre_slider') }}</h5>{% endif %}
						{{ slid.meta('contenu_slider') }}
					</div>
				</div>
			{% endfor %}
		</div>


		<a class="carousel-control-prev" href="#homeFraterSlider" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#homeFraterSlider" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</section>
<section class="frater-slider d-block d-lg-none">
	<div id="homeFraterSliderMobile" class="carousel slide carousel-fade" data-ride="carousel">
		<ol class="carousel-indicators">
			{% for slid in slider %}
				<li data-target="#homeFraterSliderMobile" data-slide-to="{{ loop.index0 }}"
					class="{% if loop.first %}active{% endif %}"></li>
			{% endfor %}
		</ol>


		<div class="carousel-inner">
			{% for slid in slider %}
				<div class="carousel-item slider-bg {% if loop.first %}active{% endif %}"
					 style="background-image: url({{ Image(slid.meta('image_small')).src }}); background-size: cover;">
					<div class="overlay-slider"></div>
					<div class="carousel-caption d-md-block">
						{% if slid.meta('titre_slider') %}<h5 class="flex-center-center">{{ slid.meta('titre_slider') }}</h5>{% endif %}
						{{ slid.meta('contenu_slider') }}
					</div>
				</div>
			{% endfor %}
		</div>
		<a class="carousel-control-prev" href="#homeFraterSliderMobile" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#homeFraterSliderMobile" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</section>