<section class="signature my-5">
	<div class="container">
		<div class="row">
			<h2 class="sub-left py-3 mb-5 ml-3 d-block d-md-none">{{ post.meta('titre_signature') }}</h2>
			<div class="col-sm-12 col-md-5 radius-border-top-right-bottom-left text-center mb-3" style="background: #00AEE5;
                    display: flex; align-items: center; padding: 40px; justify-content : center;">
				<div class="text-white ">
					<p class="m-0"><span class="f-3">Our </span><span class="f-4"><b>Knowledge</b></span></p>
					<p class="m-0"><span class="f-3">Nourishes Your</span></p>
					<p class="m-0"><span class="f-4 text-uppercase"><b>HEALTH</b></span></p>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 pl-3 pr-3 ml-0 ml-md-5 ">
				<h2 class="sub-left py-3 mb-5 d-none d-md-block">{{ post.meta('titre_signature') }}</h2>
				{{ post.meta('text_signature') }}
			</div>
		</div>
	</div>
</section>
{%  if post.meta('titre_5') %}
<section class="signature-plus my-5 ">
	<div class="container">
		<div class="radius-border-top-right-bottom-left"
			 style="background-image: url('{{ racine }}/views/img/signature-plus.png');
					 background-repeat: no-repeat; background-position: center; background-size: cover; padding: 40px; margin-bottom: 125px">
			<div class="row text-white">
				<div class="col-sm-2"></div>
				<div class="col-md-8 text-center">
					<h2 class="py-4 sub"><b>{{ post.meta('titre_5') }}</b></h2>
					<div class="py-4 f-15">{{ post.meta('text_5_1') }}</div>
				</div>
				<div class="col-sm-2"></div>
			</div>
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-md-10 p-5 bg-white color-1 radius-border-top-right-bottom-left"
					 style="margin-bottom: -125px; border-bottom: 4px solid #E6EAED;">
					{{ post.meta('text_5_2') }}
				</div>
				<div class="col-sm-1"></div>
			</div>
		</div>
	</div>
</section>
{% endif %}
<div class="clearfix"></div>