<section class="linksAutresPages text-white">
	<div class="row m-0">
		<div class="col-sm-6 bg-color-2 flex-center flex-column p-5 link-js"
			 onclick='window.location.href= "{{ post.meta('autres_liens_1').url }}";'>
			<!--<span class="d-block">Nous Connaître > Le Groupe > Notre Stratégie</span>-->
			<div class="row flex-row">
				<span class="col-10 ibm" style="font-size: 1.8rem; font-weight: bold;">{{ post.meta('autres_liens_1').title }} </span>
				<i class="row-links col-2"></i>
			</div>
		</div>
		<div class="col-sm-6 blue-bg flex-center flex-column p-5 link-js"
			 onclick='window.location.href= "{{ post.meta('autres_liens_2').url }}";'>
			<!--<span>Nous Connaître > Le Groupe > Notre Stratégie</span>-->
			<div class="row flex-row">
				<span class="col-10 ibm" style="font-size: 1.8rem; font-weight: bold;">{{ post.meta('autres_liens_2').title }} </span>
				<i class="row-links col-2"></i>
			</div>
		</div>
	</div>
</section>