<div class="position-relative before-radius-40-color-1 after-radius-40-color-1 pb-5">
	<div class="container">
		<div class="row text-center my-5">
			<div class="col-sm-12">
				<h2 class="sub mb-5">{{ post.meta('titre_block_1') }}</h2>
				<div class="px-5">{{ post.meta('text_block_1') }}
				</div>
			</div>
		</div>
	</div>
</div>
<section class="nousConnaitreQuote gray-bg position-relative before-radius-40 after-radius-40">
	<div class="container">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10 text-center p-3 mt-neg-50">
				<img src="{{ racine }}/views/img/quote-blue-1.png" class="img-fluid">
				<div class="f-2">{{ post.meta('text_block_2') }}</div>
				<img src="{{ racine }}/views/img/quote-blue-2.png" class="img-fluid">
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
</section>
<section class="section-detailPoste">
	<div class="container">
		<!--/row-2-->
		<div class="row">
			<div class="col-sm-12">
				<div class="flex-center-center p-5 pattern-5 flex-column text-center">
					<span class="f-15">{{ post.meta('intro_formulaire') }}</span>
					<img src="{{ racine }}/views/img/down-arrow.png" class="down-arrow img-fluid position-absolute">
				</div>
			</div>
		</div>
		<!--row-2-->
		<div class="row">
			<div class="contact-2 col-sm-10 offset-md-1 pt-0 pr-5 pb-5 pl-5 ronded-2-50 mb-5  ">
				{{ formulaire }}
			</div>
		</div>
		<!--/row-2-->
	</div>
</section>
