<section class="section-actuSingle">
	<div class="container">
		<div class="row d-flex justify-content-center mb-4">
			<div class="col-2">
				<div class="dateActu">
                    <span class="ronded-2-30 actu-actudate card-img-top blue-bg text-white text-uppercase lh-1 ">
                        <span class="fs-15 bb-color-2 ">{{ post.post_date|date('d') }}</span>
                        <span class="fs-06">{{ post.post_date|date('M Y') }}</span>
                    </span>
				</div>
			</div>
			<div class="col-10">
				<div class="introActu pl-2 pr-1 ">
					<h2>{{ post.title }}</h2>
					<div>
					<span class="bg-color-2 text-white fs-08 py-1 px-3 my-1 rounded-pill d-inline-block text-uppercase "><b>{{ post.terms('category')|join(' | ') }}</b></span>
					<p>{{ post.meta('intro_article') }}</p>
					</div>
				</div>
			</div>
			<!--<div class="col-2">
				<div class="shareActu border ronded-2-10 position-absolute">
					<span class="d-block p-3 gray-bg border ronded-2-10"><i class="fas fa-share-alt"></i></span>
					<span class="d-block p-3"><a href="#"><i class="fab fa-facebook-f"></i></a></span>
					<span class="d-block p-3"><a href="#"><i class="fab fa-twitter"></i></a></span>
					<span class="d-block p-3"><a href="#"><i class="fab fa-linkedin"></i></a></span>
				</div>
			</div>-->
		</div>

		<div class="row">
			<div class="col-12 text-center">
				<img src="{{ post.thumbnail }}" class="img-fluid ronded-2-30">
			</div>
		</div>
		<!---------------------------->
	</div>
</section>
<!---------------------------->
<section class="section-actuSingle">
	<div class="container">
		<div class="row d-flex justify-content-center my-3">
			<div class="col-12 col-sm-10">
				{{ post.content }}
			</div>
		</div>
	</div>
</section>
{% if images|length > 0 %}
	{{ include('section-filialesCarousel.html.twig') }}
{% endif %}

{% if relateds|length > 0 %}
	<section class="section-listActu">
		<div class="container">
			{% if lang == 'en' %}<h2>Discover more</h2>{% else %}<h2>Voir Aussi</h2>{% endif %}
			<div class="row">
				{% for related in relateds %}
					<div class="gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-12 filter hdpe">
						<a href="{{ related.link }}">
							<div class="card my-3 rhumatologie">
								<div class="card-img-top flex-center-center border-bottom position-relative">
									<span class="actu-categorie bg-color-2 fs-08 text-white text-uppercase">{{ related.terms('category')|join(' | ') }}</span>
									<span class="actu-actudate card-img-top blue-bg p-3 text-white text-uppercase lh-1 "><span
												class="fs-15 bb-color-2">{{ related.post_date|date('d') }}</span> <span
												class="fs-06">{{ related.post_date|date('M Y') }}</span></span>
									<img src="{{ related.thumbnail }}" class="card-img-top" alt="{{ related.title }}">
								</div>
								<div class="card-body">
									<h6 class="d-inline ">{{ related.title }}</h6>
								</div>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}