<section class="section-contact">
	<div class="container">
		<!--row-1-->
		<div class="row border ronded-2-30 mb-5">
			<div class="col-lg-6 flex-center-center">
				<div class="py-3">
					<p class="sub-left-smal mb-5 f-18">{{ post.meta('titre_adresse_0') }}</p>
					<p class=""><span class="fs-08 color-2">{{ __('Adresse', 'frater-razes') }} </span><br>{{ post.meta('text_1_adresse_0') }}</p>
					<p class=""><span class="fs-08 color-2">{{ __('Tél/Fax', 'frater-razes') }} </span><br>{{ post.meta('tel_fax_adresse_0') }}</p>
					<p class=""><span
								class="fs-08 color-2">{{ __('Service commercial', 'frater-razes') }} </span><br>{{ post.meta('service_commercial_adresse_0') }}
					</p>
					<div class=""><span class="fs-08 color-2">{% if lang == 'en' %}{{ __('Social media', 'frater-razes') }}{% else %}{{ __('Réseaux sociaux', 'frater-razes') }} {% endif %}</span><br>
						<ul class="social-media-footer d-flex flex-row list-unstyled color-1">
							<li class="list-inline-item rounded-circle">
								<a href="{{ social.facebook }}"><i class="fab fa-facebook-f"></i></a>
							</li>
							<li class="list-inline-item rounded-circle">
								<a href="{{ social.twitter }}"><i class="fab fa-twitter"></i></a>
							</li>
							<li class="list-inline-item rounded-circle">
								<a href="{{ social.linkedin }}"><i class="fab fa-linkedin"></i></a>
							</li>
							<li class="list-inline-item rounded-circle">
								<a href="{{ social.youtube }}"><i class="fab fa-youtube"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-6 p-0">
				<!--<img src="{{ racine }}/views/img/map.png" class="img-fluid ronded-2-30">-->
				<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d51195.8433584778!2d3.0255842161277178!3d36.68074687302148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x128facf490eaa7c1%3A0xd45359847c6a55ca!2sFrater-Razes%20Laboratoires%2C%20RN%2001%2C%20Saoula!3m2!1d36.680752!2d3.0606036999999997!5e0!3m2!1sfr!2sdz!4v1572965848810!5m2!1sfr!2sdz"
						width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" class="ronded-2-30"></iframe>
			</div>
		</div>
		<!--/row-1-->
		<!--row-2-->
		<div class="row">
			<div class="col-md-10 offset-sm-1">
				<div class="row border ronded-2-30 my-3 gray-bg-2">
					<div class="col-md-3 flex-center-center p-4">
						<img src="{{ Image(post.meta('logo_adresse_1')).src }}" class="img-fluid">
					</div>
					<div class="col py-3 px-4 border-left ronded-2-30 bg-white">
						<p class="sub-left-smal mb-5 f-13">{{ post.meta('titre_adresse_1') }}</p>
						<p class=""><span class="fs-08 color-2">{{ __('Adresse', 'frater-razes') }} </span><br>{{ post.meta('adresse_adresse_1') }}
						</p>
						<p class=""><span class="fs-08 color-2">{{ __('Tél', 'frater-razes') }} </span><br>{{ post.meta('tel_adresse_1') }}</p>
						<p class=""><span class="fs-08 color-2">{{ __('Fax', 'frater-razes') }} </span><br>{{ post.meta('fax_adresse_1') }}</p>
					</div>
				</div>
			</div>
		</div>
		<!--/row-2-->
		<!--row-2-->
		<div class="row">
			<div class="col-md-10 offset-sm-1">
				<div class="row border ronded-2-30 my-3 gray-bg-2">
					<div class="col-md-3 flex-center-center p-4">
						<img src="{{ Image(post.meta('logo_adresse_2')).src }}" class="img-fluid">
					</div>
					<div class="col py-3 px-4 border-left ronded-2-30 bg-white">
						<p class="sub-left-smal mb-5 f-13">{{ post.meta('titre_adresse_2') }}</p>
						<p class=""><span class="fs-08 color-2">{{ __('Adresse', 'frater-razes') }} </span><br>{{ post.meta('adresse_adresse_2') }}
						</p>
						<p class=""><span class="fs-08 color-2">{{ __('Tél', 'frater-razes') }} </span><br>{{ post.meta('tel_adresse_2') }}</p>
						<p class=""><span class="fs-08 color-2">{{ __('Fax', 'frater-razes') }} </span><br>{{ post.meta('fax_adresse_2') }}</p>
					</div>
				</div>
			</div>
		</div>
		<!--/row-2-->
		<!--row-2-->
		<div class="row">
			<div class="col-md-10 offset-sm-1">
				<div class="row border ronded-2-30 my-3 gray-bg-2">
					<div class="col-md-3 flex-center-center p-4">
						<img src="{{ Image(post.meta('logo_adresse_3')).src }}" class="img-fluid">
					</div>
					<div class="col py-3 px-4 border-left ronded-2-30 bg-white">
						<p class="sub-left-smal mb-5 f-13">{{ post.meta('titre_adresse_3') }}</p>
						<p class=""><span class="fs-08 color-2">{{ __('Adresse', 'frater-razes') }} </span><br>{{ post.meta('adresse_adresse_3') }}
						</p>
						<p class=""><span class="fs-08 color-2">{{ __('Tél', 'frater-razes') }} </span><br>{{ post.meta('tel_adresse_3') }}</p>
						<p class=""><span class="fs-08 color-2">{{ __('Fax', 'frater-razes') }} </span><br>{{ post.meta('fax_adresse_3') }}</p>
					</div>
				</div>
			</div>
		</div>
		<!--/row-2-->
		<!--row-2-->
		<div class="row">
			<div class="col-sm-12 gray-bg ronded-2-30 flex-center-center pt-5 pr-5 pl-5 pb-85 my-5 text-center">
				{{ __('Avez-vous des questions ou des commentaires sur nos produits ou nos services ?<br>N’hésitez pas à nous contacter.', 'frater-razes') }}
			</div>
		</div>
		<!--/row-2-->
		<!--row-2-->
		<div class="row">
			<div class="contact-1 col-sm-10 offset-md-1 pt-0 pr-5 pb-5 pl-5 ronded-2-50 mb-5  ">
				{{ formulaire }}
			</div>
		</div>
		<!--/row-2-->
	</div>
</section>
