{% for post in posts %}
	<section class="pageHeader before-radius-40 after-radius-40"
			 {% if post.meta('image_background') %}style="height: 550px !important; background-image: url({{ Image(post.meta('image_background')).src }}); " {% endif %}>
		<div class="overlay-slider-page " {% if post.meta('flat') %} style="background: rgb(5, 52, 78);" {% endif %}></div>
		<div class="fixed-bottom-center mb-5">
			<div class="container">
				<div class="row d-flex align-items-end mb-3">
					<div class="col-auto">
<span class="breadcrumb-frater"> {{ fil }}</span>
						<!--<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a href="#">Nous Connaître</a></li>
								<li class="breadcrumb-item"><a href="#">Le Groupe</a></li>
								<li class="breadcrumb-item active" aria-current="page">Qui nous-sommes</li>
							</ol>
						</nav>-->
						<h1 class="pageHeaderTitle">{% if post.meta('titre_header') %}{{ post.meta('titre_header') }}{% else %}{{ post.title }}{% endif %}</h1>
					</div>

					{% if menu.items %}
					<div class="col flex-culumn-center">
						<ul class="ul-header mb-0">
							<span class="text-left pl-3">{{ menu.title }}</span>
							{% for item in menu.items %}
								<li class="{% if item.current %}active{% endif %}">
									<a class="" href="{{ item.link }}">{{ item.title }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
					{% endif %}

					<!--
					<div class="col flex-culumn-center">

						<span>Le groupe...</span>
						<ul class="ul-header mb-0">
							<li class="active"><a href="#">Qui somme-nous ?</a></li>
							<li><a href="#">Notre stratégie</a></li>
							<li><a href="#">Notre approche</a></li>
						</ul>
					</div>
					-->
				</div>
			</div>
		</div>
	</section>
{% endfor %}