<section class="section-produitDetail">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 pt-1">
				<h2 class="d-inline product-title">{{ post.title }}</h2>
				<span
						class=" d-inline ml-3">{{ post.meta('produit_grammage') }}</span> {% if post.terms('formes') %}
					<span
							class=" d-inline ml-3 border forme-detail rounded-pill">{{ post.terms('formes')|join(' ') }}</span>{% endif %}
				<span class="fs-09 d-block mt-3">{{ post.meta('produit_dci') }}</span>
			</div>
		</div>
		<div class="row my-3">
			<div class="col-sm-6">
				<div class="flex-center-center border ronded-2-30 mb-3 position-relative">
					<img src="{{ post.thumbnail }}" class="img-fluid w-75 " alt="{{ produit.title }}">
					{% if post.meta('nouveau_produit') %}<img src="{{ racine }}/views/img/nouveau_produit.svg"
															  class="position-absolute nouveau_produit"
															  alt="{{ produit.title }}" >{% endif %}
				</div>
			</div>
			<div class="col-sm-6">
				<h3 class="sub-left mb-5">{{ __('Détails', 'frater-razes') }}</h3>
				<div class="list-unstyled square-style fs-1">
					{{ post.meta('produit_details') }}
				</div>
				<br>
				{% if post.meta('produit_notice').url %}
					<div class="col-sm-12 text-center">
						<a href="{{ post.meta('produit_notice').url }}" target="_blank">
                        <span class="pill-all n-mt-40">
                            <span class="pill-1">{{ __('Télécharger la notice', 'frater-razes') }}</span>
                            <span class="pill-2">→</span>
                        </span>
						</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
	{% if relateds|length > 0 %}
		<div class="row my-5 no-gutters">
			<div class="container">
				<h3 class="d-inline pt-1">{{ __('Produits associés', 'frater-razes') }}</h3>
			</div>
		</div>
		<div class="row pattern-2 no-gutters relateds-pruducts">
			<div class="container">
				<div class="row my-5">
					{% for related in relateds %}
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
							<a href="{{ site }}{{ termlink }}/{{ related.slug }}">
								<div class="card my-3 rhumatologie">
									<div class="card-img-top flex-center-center border-bottom position-relative">
										<img src="{{ related.thumbnail }}" class="" alt="{{ related.title }}">
										{% if related.meta('nouveau_produit') %}
										<img src="{{ racine }}/views/img/nouveau_produit.svg"
													 class="position-absolute nouveau_produit"
													 alt="{{ related.title }}">
										{% endif %}
									</div>
									<div class="card-body">
										<h6 class="d-inline">{{ related.title }}</h6><span
												class="fs-08 d-inline ml-3">{{ related.meta('produit_grammage') }}</span>
										<span class="fs-08 d-block mt-3">{{ related.meta('produit_dci') }}</span>
									</div>
								</div>
							</a>
						</div>
					{% endfor %}

				</div>
			</div>
		</div>
	{% endif %}
</section>
