<section class="presentationGroupe border-top-right-radius-50 section-complementsAlimentaires">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6 px-5 bg-mol-carre-left flex-center-center ">
				<img
				src="{{ Image(post.meta('image_1')).src }}" class="img-fluid ronded-2-50">
			<!--<div style="background-image: url(img/presentationGroupe.png); background-repeat: no-repeat; background-size: cover; background-position: center; position: relative; display: block; height: 100%; width: 100%;"></div>-->
			</div>
			<div class="col-sm-12 col-md-6 p-5">
				<h2 class="py-4 sub-left mb-5">{{ post.meta('titre_1') }}</h2>
				{{ post.meta('text_1') }}
			</div>
		</div>
	</div>
</section>
<section class="presentationGroupe">
	<div class="container">
		<div class="row">
			<div class="col-12 text-left flex-center-center bg-large-text my-4">
				<div class="large-text my-4 p-5 radius-border-top-right-bottom-left">
					<span class="f-15">
						<b>
							{{ post.meta('titre_2') }}</b>
					</span>
					<div class="square-style list-unstyled">
						{{ post.meta('text_2') }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="container">
	<div class="row">
		<div class="col-sm-12 text-center">
			{% if lang == 'en' %}
				<a href="{{ base }}/en/complementscat/gelphore-en">
					<span class="pill-all n-mt-40">
						<span class="pill-1">{{ __('En savoir plus', 'frater-razes') }}
						</span>
						<span class="pill-2">→</span>
					</span>
				</a>
			{% else %}
				<a href="{{ site }}complementscat/gelphore">
					<span class="pill-all n-mt-40">
						<span class="pill-1">{{ __('En savoir plus', 'frater-razes') }}
						</span>
						<span class="pill-2">→</span>
					</span>
				</a>
			{% endif %}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-12 h-25 border-bottom mt-5"></div>

	</div>

</div>

<section class="presentationGroupe section-complementsAlimentaires">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6 pt-5 pl-5 pb-0 pl-5">
				<h2 class="py-4 sub-left mb-5">{{ post.meta('titre_3') }}</h2>
				{{ post.meta('text_3') }}
			</div>
			<div class="col-sm-12 col-md-6 px-5 bg-mol-carre-left flex-center-center">
				<img src="{{ Image(post.meta('image_3')).src }}" class="img-fluid ronded-2-50">
			</div>
		</div>
	</div>
</section>
<div class="container">
	<div class="row my-5">
		<div class="col-sm-12 text-center">
			{% if lang == 'en' %}
				<a href="{{ base }}/en/complementscat/vivophore-en">
					<span class="pill-all n-mt-40">
						<span class="pill-1">{{ __('En savoir plus', 'frater-razes') }}</span>
						<span class="pill-2">→</span>
					</span>
				</a>
			{% else %}
				<a href="{{ site }}complementscat/vivophore">
					<span class="pill-all n-mt-40">
						<span class="pill-1">{{ __('En savoir plus', 'frater-razes') }}</span>
						<span class="pill-2">→</span>
					</span>
				</a>
			{% endif %}
		</div>
	</div>
</div>

<section class="presentationGroupe border-top-right-radius-50 section-complementsAlimentaires">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6 px-5 bg-mol-carre-left flex-center-center ">
				<img
				src="{{ Image(post.meta('image_4')).src }}" class="img-fluid ronded-2-50">
			<!--<div style="background-image: url(img/presentationGroupe.png); background-repeat: no-repeat; background-size: cover; background-position: center; position: relative; display: block; height: 100%; width: 100%;"></div>-->
			</div>
			<div class="col-sm-12 col-md-6 p-5">
				<h2 class="py-4 sub-left mb-5">{{ post.meta('titre_4') }}</h2>
				{{ post.meta('text_4') }}
			</div>
		</div>
	</div>
</section>
<div class="container">
	<div class="row my-5">
		<div class="col-sm-12 text-center">
			{% if lang == 'en' %}
				<a href="{{ base }}/en/complementscat/vivophore-en">
					<span class="pill-all n-mt-40">
						<span class="pill-1">{{ __('En savoir plus', 'frater-razes') }}</span>
						<span class="pill-2">→</span>
					</span>
				</a>
			{% else %}
				<a href="{{ site }}complementscat/collagene">
					<span class="pill-all n-mt-40">
						<span class="pill-1">{{ __('En savoir plus', 'frater-razes') }}</span>
						<span class="pill-2">→</span>
					</span>
				</a>
			{% endif %}
		</div>
	</div>
</div>
