<section class="home-bottom gray-bg p-3 ">
	<div class="container">
		<div class="row ">
			<div class="col-12 col-sm-12 col-md-6 col-lg-8 home-bottom-left flex-center">
				{% if lang == 'en' %}
					<p class="m-0">Our <b>Knowledge</b> Nourishes Your <b>HEALTH</b></p>
				{% else %}
				<p class="m-0">Notre <b>Savoir</b> Nourrit Votre <b>SANTÉ</b></p>
				{% endif %}
			</div>
		</div>
	</div>
</section>