{% for realisation in realisations %}
	<section class="realisations my-5">
		<div class="container">
			<div class="row">
				<div class="col-md-6 frater-left-bottom-radius"
					 style="background-image: url({{ Image(realisation.meta('realisations_image')).src }});
							 background-repeat: no-repeat; background-position: center; background-size: cover; display: flex; align-items: center; padding: 40px;">
					<div class="text-white real-quote">
                     <span class="color-2">
						 {{ __('Réalisations', 'frater-razes') }}

                     </span>
						<h3 class="my-4">{{ realisation.meta('realisations_titre') }}</h3>
						{{ realisation.meta('realisations_text') }}
					</div>
					<!-- <img src="{{ racine }}/views/img/realisation-img.png" class="img-fluid frater-left-bottom-radius" alt="Realisation">-->
				</div>
				<div class="col-md-6">
					<div class="row p-4">
						<div class="col-6 col-sm-6">
							<div class="real-box">

								<a href="{{ realisation.meta('chiffres').lien_1.url }}">
									<img src="{{ racine }}/views/img/icon-1.png" class="real-icon" alt="Realisation">
									<span class="real-chifre">{{ realisation.meta('chiffres').employes }}</span>
									<span class="real-titre"> {{ __('employés', 'frater-razes') }}</span>
								</a>
							</div>
						</div>
						<div class="col-6 col-sm-6">
							<div class="real-box">
								<a href="{{ realisation.meta('chiffres').lien_2.url }}">
									<img src="{{ racine }}/views/img/icon-2.png" class="real-icon" alt="Realisation">
									<span class="real-chifre">{{ realisation.meta('chiffres').experience }}</span>
									<span class="real-titre"> {{ __('siècle d’existence', 'frater-razes') }}</span></a>
							</div>
						</div>
						<div class="col-6 col-sm-6">
							<div class="real-box">
								<a href="{{ realisation.meta('chiffres').lien_3.url }}">
									<img src="{{ racine }}/views/img/icon-3.png" class="real-icon" alt="Realisation">
									<span class="real-chifre">{{ realisation.meta('chiffres').unites_de_production }}</span>
									<span class="real-titre"> {{ __('unités de production', 'frater-razes') }}</span>
								</a>
							</div>
						</div>
						<div class="col-6 col-sm-6">
							<div class="real-box">
								<a href="{{ realisation.meta('chiffres').lien_4.url }}">
									<img src="{{ racine }}/views/img/icon-4.png" class="real-icon" alt="Realisation">
									<span class="real-chifre">{{ realisation.meta('chiffres').produits }}</span>
									<span class="real-titre"> {{ __('produits', 'frater-razes') }}</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endfor %}
