<section class="section-pouvoir">
	<div class="container">
		<!--row-2-->
		{% for offre in offres %}
			<div class="row">
				<div class="col-sm-12 ">
					<div class="poste-p row border ronded-2-30 my-3 bg-white active">
						<div class="col-sm-3 flex-center-center px-4 border-right ronded-2-30 gray-bg-2 p-4">
							<img src="{% for fil in  offre.meta('filiale_offre') %}{{ fil.thumbnail }}{% endfor %}"
								 class="w-75">
						</div>
						<div class="col-sm-3 px-4 flex-center-center">
							<p>
								<b>{{ offre.meta('titre_de_loffre') }}</b><br>{% for fil in  offre.meta('filiale_offre') %}
								<a href="{{ fil.link }}"> {{ fil.title }}</a>{% endfor %}
							</p>
						</div>
						<div class="col-sm-3 px-4 flex-center-center">
							<p>{{ offre.meta('ville_offre') }}<br>{{ offre.meta('date_offre')|date('d / m / Y') }}</p>
						</div>
						<div class="col-sm-3 px-4 flex-center-center my-5">
							<a href="{{ offre.link }}"> <span class="postuler-btn"> {{ __('Postuler', 'frater-razes') }} </span></a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		<!--/row-2-->
	</div>
</section>
