<section class="section-detailPoste">
	<div class="container">
		<!--/row-2-->
		<div class="row">
			<div class="col-sm-12 border-bottom pb-4">
				<div class="poste-p row my-3 bg-white">
					<div class="col-sm-3 flex-center-center px-4 border ronded-2-30 gray-bg-2">
						<img src="{% for fil in  post.meta('filiale_offre') %}{{ fil.thumbnail }}{% endfor %}"
							 class="w-75">
					</div>
					<div class="col-sm-6 px-4 py-3 ">
						<h3>{{ post.meta('titre_de_loffre') }}</h3>
						<b>{% for fil in  post.meta('filiale_offre') %}
							<a href="{{ fil.link }}"> {{ fil.title }}</a>{% endfor %}</b>
						<p>{{ post.meta('ville_offre') }}<br>{{post.meta('date')}}</p>
					</div>

					<div class="col-sm-3 px-4 d-flex align-items-start">
						<a href="#postuler"> <span class="postuler-btn">{{ __('Postuler', 'frater-razes') }}</span></a>
					</div>
				</div>
			</div>
		</div>
		<!--/row-2-->
		<div class="row my-5">
			<div class="col-sm-6">
				<h3 class="sub-left mb-5">{{ __('Description', 'frater-razes') }}</h3>
				{{ post.meta('description_du_poste') }}
			</div>
			<div class="col-sm-6">
				<h3 class="sub-left mb-5">{{ __('Détails', 'frater-razes') }}</h3>
				<div class="square-style list-unstyled fs-09">
					{{ post.meta('detail_du_poste') }}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="flex-center-center p-5 pattern-5 flex-column ">
					<span class="f-15">{{ __('Cela vous convient, postuler maintenant !', 'frater-razes') }}</span>
					<img src="{{ racine }}/views/img/down-arrow.png" class="down-arrow img-fluid position-absolute">
				</div>
			</div>
		</div>
		<!--row-2-->
		<div class="row" id="postuler">
			<div class="contact-2 col-sm-10 offset-1 pt-0 pr-5 pb-5 pl-5 ronded-2-50 mb-5  ">
				{{ formulaire }}
			</div>
		</div>
		<!--/row-2-->
	</div>
</section>