<section class="presentationGroupe pb-5">
	<div class="container">
		<div class="row">

			<div class="col-sm-12 col-md-12 pt-0 pr-5 pr-5 pb-5 pl-5  text-center">
				<h2 class="py-4 sub mb-5">{{ post.meta('titre_1') }}</h2>
				{{ post.meta('text_1') }}
			</div>
		</div>
	</div>
</section>
<section>
	<div class="position-relative">
		<div class="container">
			<div class="strategieCarouselContainer">
				<!-- Nav tabs -->
				<ul class="nav nav-pills nav-justified" id="missionCarouselNav" role="tablist">
					<li class="nav-item ">
						<a class="nav-link active flex-center-center flex-column" id="mission-tab" data-toggle="tab"
						   href="#mission" role="tab" aria-controls="mission" aria-selected="true"><i
									class="str-icon str-icon-1 d-none d-sm-block"></i><br> {{ post.meta('titre_onglet_1') }}</a>
					</li>
					<li class="nav-item">

						<a class="nav-link flex-center-center flex-column" id="vision-tab" data-toggle="tab"
						   href="#vision" role="tab" aria-controls="vision" aria-selected="false"><i
									class="str-icon str-icon-2 d-none d-sm-block"></i><br> {{ post.meta('titre_onglet_2') }}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link flex-center-center flex-column" id="objectifs-tab" data-toggle="tab"
						   href="#objectifs" role="tab" aria-controls="objectifs" aria-selected="false"><i
									class="str-icon str-icon-3 d-none d-sm-block"></i><br> {{ post.meta('titre_onglet_3') }}</a>
					</li>
				</ul>
				<!-- Tab panes -->
				<div class="row pattern-4 pb-5">
					<div class="col-sm-10 offset-2">
						<div class="tab-content mt-5">
							<div class="tab-pane active" id="mission" role="tabpanel" aria-labelledby="mission-tab">
								{{ post.meta('text_onglet_1') }}
							</div>
							<div class="tab-pane" id="vision" role="tabpanel" aria-labelledby="vision-tab">
								{{ post.meta('text_onglet_2') }}
							</div>
							<div class="tab-pane" id="objectifs" role="tabpanel" aria-labelledby="objectifs-tab">
								{{ post.meta('text_onglet_3') }}
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="presentationGroupe border-top-right-radius-50 mb-5">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 pt-0 pr-5 pr-5 pb-0 pl-5  text-center">
				<h2 class="py-4 sub mb-5">{{ post.meta('titre_standards') }}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-sm-12 col-lg-5 px-5 bg-mol-carre-left flex-center-center">
				<!--<img src="{{ racine }}/views/img/presentationGroupe.png" class="img-fluid">-->
				<img src="{{ Image(post.meta('imgae_standards')).src }}" class="img-fluid radius-border-top-right-bottom-left">
				<!--<div style="background-image: url({{ racine }}/views/img/presentationGroupe.png); background-repeat: no-repeat; background-size: cover; background-position: center; position: relative; display: block; height: 100%; width: 100%;"></div>-->
			</div>
			<div class="col-sm-12 col-sm-12 col-lg-7 p-5">
				<!--<h2 class="py-4 sub-left mb-5">{{ post.meta('titre_standards') }}</h2>-->
				{{ post.meta('texte_standards') }}
			</div>
		</div>
	</div>
</section>
