<section class="presentationGroupe position-relative">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 pt-0 pr-5 pr-5 pb-5 pl-5 text-center">
				<h2 class="py-4 sub mb-5">{{ post.meta('titre_3') }}  </h2>
				{{ post.meta('text_3') }}
			</div>
		</div>
	</div>
</section>
{% if post.meta('text_4') %}
<section class="presentationGroupe">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center flex-center-center bg-large-text my-4">
				<div class="large-text my-4 p-5 radius-border-top-right-bottom-left">
					{{ post.meta('text_4') }}
				</div>
			</div>
		</div>
	</div>
</section>
{% endif %}
<section class="position-relative before-radius-40-color-1 after-radius-40-color-1 pb-5">
	<div class="container">
		<div class="accordion js-accordion mb-4">
			<div class="accordion__item js-accordion-item active">
				<div class="accordion-header js-accordion-header">
					<!--<span class="color-2">1 </span>-->
					<span class="title-accordion">{{ post.meta('panel_titre_1') }}</span></div>
				<div class="accordion-body js-accordion-body">
					<div class="accordion-body__contents">
						<div class="row">
							<div class="col-sm-8">
								{{ post.meta('panel_text_1') }}
							</div>
							<div class="col-sm-4"><img src="{{ Image(post.meta('panel_image_1')).src }}"
													   class="img-fluid aprroche-img-accordion"></div>
						</div>
					</div>
				</div> <!-- end of accordion body -->
			</div><!-- end of accordion item -->
			<div class="accordion__item js-accordion-item ">
				<div class="accordion-header js-accordion-header">
					<!--<span class="color-2">1 </span>-->
					<span class="title-accordion">{{ post.meta('panel_titre_2') }}</span></div>
				<div class="accordion-body js-accordion-body">
					<div class="accordion-body__contents">
						<div class="row">
							<div class="col-sm-8">
								{{ post.meta('panel_text_2') }}
							</div>
							<div class="col-sm-4"><img src="{{ Image(post.meta('panel_image_2')).src }}"
													   class="img-fluid aprroche-img-accordion"></div>
						</div>
					</div>
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->
			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<!--<span class="color-2">1 </span>-->
					<span class="title-accordion">{{ post.meta('panel_titre_3') }}</span></div>
				<div class="accordion-body js-accordion-body">
					<div class="accordion-body__contents">
						<div class="row">
							<div class="col-sm-8">
								{{ post.meta('panel_text_3') }}
							</div>
							<div class="col-sm-4"><img src="{{ Image(post.meta('panel_image_3')).src }}"
													   class="img-fluid aprroche-img-accordion"></div>
						</div>
					</div>
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->
			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<!--<span class="color-2">1 </span>-->
					<span class="title-accordion">{{ post.meta('panel_titre_4') }}</span></div>
				<div class="accordion-body js-accordion-body">
					<div class="accordion-body__contents">
						<div class="row">
							<div class="col-sm-8">
								{{ post.meta('panel_text_4') }}
							</div>
							<div class="col-sm-4"><img src="{{ Image(post.meta('panel_image_4')).src }}"
													   class="img-fluid aprroche-img-accordion"></div>
						</div>
					</div>
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->
			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<!--<span class="color-2">1 </span>-->
					<span class="title-accordion">{{ post.meta('panel_titre_5') }}</span></div>
				<div class="accordion-body js-accordion-body">
					<div class="accordion-body__contents">
						<div class="row">
							<div class="col-sm-8">
								{{ post.meta('panel_text_5') }}
							</div>
							<div class="col-sm-4"><img src="{{ Image(post.meta('panel_image_5')).src }}"
													   class="img-fluid aprroche-img-accordion"></div>
						</div>
					</div>
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->
			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<!--<span class="color-2">1 </span>-->
					<span class="title-accordion">{{ post.meta('panel_titre_6') }}</span></div>
				<div class="accordion-body js-accordion-body">
					<div class="accordion-body__contents">
						<div class="row">
							<div class="col-sm-8">
								{{ post.meta('panel_text_6') }}
							</div>
							<div class="col-sm-4"><img src="{{ Image(post.meta('panel_image_6')).src }}"
													   class="img-fluid aprroche-img-accordion"></div>
						</div>
					</div>
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->
			{% if post.meta('panel_titre_7') %}
			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<!--<span class="color-2">1 </span>-->
					<span class="title-accordion">{{ post.meta('panel_titre_7') }}</span></div>
				<div class="accordion-body js-accordion-body">
					<div class="accordion-body__contents">
						<div class="row">
							<div class="col-sm-8">
								{{ post.meta('panel_text_7') }}
							</div>
							<div class="col-sm-4"><img src="{{ Image(post.meta('panel_image_7')).src }}"
													   class="img-fluid aprroche-img-accordion"></div>
						</div>
					</div>
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->
			{% endif %}
		</div><!-- end of accordion -->
	</div>
</section>
