
<!---------------------------->
<section class="section-actuSingle">
	<div class="container">

		<div class="row d-flex justify-content-center my-3">

			<div class="col-8">
				{{ post.title }}
			</div>

		</div>

	</div>
</section>
