<section class="section-al-razi">
	<div class="gradient-razi">
		<div class="container">
			<div class="col-12 text-center pt-5 ">
				<div class="px-5">
					<h2 class="sub mb-5 ">{{ post.meta('titre_block_2') }}</h2>
					<div class="fs-09 ">
						{{ post.meta('text_block_2') }}
					</div>
				</div>
				<img src="{{ Image(post.meta('image_block_2')).src }}" class="img-fluid w-50">
			</div>
		</div>
	</div>

	<div class="container ">
		<div class="row py-5 pattern-4">
			<div class="col-sm-10 offset-sm-1">
				<h4 class="mb-4">{{ post.meta('titre_block_3') }}</h4>
				{{ post.meta('text_block_3') }}

			</div>
		</div>
	</div>
</section>
