<section class="presentationGroupe border-top-right-radius-50">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6 px-5 bg-mol-carre-left flex-center-center">
				<!--<img src="{{ racine }}/views/img/presentationGroupe.png" class="img-fluid">-->
				<img src="{{ Image(post.meta('image_1')).src }}" class="img-fluid">
				<!--<div style="background-image: url({{ racine }}/views/img/presentationGroupe.png); background-repeat: no-repeat; background-size: cover; background-position: center; position: relative; display: block; height: 100%; width: 100%;"></div>-->
			</div>
			<div class="col-sm-12 col-md-6 p-5">
				<h2 class="py-4 sub-left mb-5">{{ post.meta('titre_1') }}</h2>
				{{ post.meta('text_1') }}
			</div>
		</div>
	</div>
</section>

<section class="presentationGroupe">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center flex-center-center bg-large-text my-4">
				<div class="large-text my-4 p-5 radius-border-top-right-bottom-left">
					{{ post.meta('text_2') }}
				</div>
			</div>
		</div>
	</div>
</section>
{% if  post.meta('titre_3')  %}
<section class="presentationGroupe">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6 pt-5 pl-5 pb-0 pl-5">
				<h2 class="py-4 sub-left mb-5">{{ post.meta('titre_3') }}</h2>
				{{ post.meta('text_3') }}
			</div>
			<div class="col-sm-12 col-md-6 px-5 bg-mol-carre-left flex-center-center">
				<img src="{{ Image(post.meta('image_3')).src }}" class="img-fluid">
			</div>
		</div>
	</div>
</section>
{% endif %}
