<section class="presentationGroupe position-relative before-radius-40-color-1 after-radius-40-color-1 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="pb-5 pt-3 sub"><b>{{ post.meta('titre_3') }}</b></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center flex-center-center bg-large-text my-4">
				<div class="large-text my-4 p-5 radius-border-top-right-bottom-left list-unstyled square-style text-left">
					{{ post.meta('text_block_3') }}
				</div>
			</div>
		</div>
	</div>
</section>
