<section class="section-pdg">
	<div class="container">
		<div class="row">
			<div class="col">
                <span class="d-none d-md-block pdg-img-1 float-right m-3 bg-mol-carre-left">
                    <img src="{{ Image(post.meta('image_block_1')).src }}" class="img-fluid ronded-2-30  p-5">
                </span>
				<h2 class="sub-left mb-5">{{ post.meta('titre_block_1') }}</h2>
				<span class="d-block d-md-none m-3 bg-mol-carre-left">
                    <img src="{{ Image(post.meta('image_block_1')).src }}" class="img-fluid ronded-2-30  p-5">
                </span>
				{{ post.meta('text_block_1') }}
			</div>
		</div>

		<div class="row text-center my-3">
			<div class="col-sm-12 flex-center-center flex-culumn-center my-3 pattern-5">
				<h2 class="sub mb-5">{{ post.meta('titre_block_2') }}</h2>
				<div class="rounded-circle"
					 style="height: 150px; width: 150px; background-image: url('{{ Image(post.meta('image_block_2')).src }}'); background-position: center; background-size: cover; background-repeat: no-repeat;">

				</div>
			</div>
			<div class="col-sm-10 offset-1 my-2">
				{{ post.meta('text_1') }}
			</div>
		</div>
		<div class="row d-flex justify-content-center ">
			<div class="col-10">
				<div class="blockquote-frater-2">
					{{ post.meta('text_2') }}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-10 offset-1">
				<div class="px-5 my-5">
					{{ post.meta('text_3') }}
				</div>
			</div>
		</div>
	</div>
</section>
<section class="position-relative before-radius-40-color-1 after-radius-40-color-1 pb-5">
	<div class="container">
		<div class="accordion js-accordion mb-4">
			<div class="accordion__item js-accordion-item active">
				<div class="accordion-header js-accordion-header">
					<!--<span class="color-2">1 </span>-->
					<span class="title-accordion">{{ post.meta('panel_titre_1') }}</span></div>
				<div class="accordion-body js-accordion-body">
					<div class="accordion-body__contents">
						<div class="row">
							<div class="col-sm-12">
								{{ post.meta('panel_text_1') }}
							</div>

						</div>
					</div>
				</div> <!-- end of accordion body -->
			</div><!-- end of accordion item -->
			<div class="accordion__item js-accordion-item ">
				<div class="accordion-header js-accordion-header">
					<!--<span class="color-2">1 </span>-->
					<span class="title-accordion">{{ post.meta('panel_titre_2') }}</span></div>
				<div class="accordion-body js-accordion-body">
					<div class="accordion-body__contents">
						<div class="row">
							<div class="col-sm-12">
								{{ post.meta('panel_text_2') }}
							</div>

						</div>
					</div>
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->
			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<!--<span class="color-2">1 </span>-->
					<span class="title-accordion">{{ post.meta('panel_titre_3') }}</span></div>
				<div class="accordion-body js-accordion-body">
					<div class="accordion-body__contents">
						<div class="row">
							<div class="col-sm-12">
								{{ post.meta('panel_text_3') }}
							</div>

						</div>
					</div>
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->
			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<!--<span class="color-2">1 </span>-->
					<span class="title-accordion">{{ post.meta('panel_titre_4') }}</span></div>
				<div class="accordion-body js-accordion-body">
					<div class="accordion-body__contents">
						<div class="row">
							<div class="col-sm-12">
								{{ post.meta('panel_text_4') }}
							</div>

						</div>
					</div>
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->


		</div><!-- end of accordion -->
	</div>
</section>
