<section class="home-apropos">
	<div class="container">
		{% for propo in propos %}
		<div class="row blue-bg frater-right-ronded">
			<div class="col-sm-7 ">
				<div class="text-white propos-quote">
                        <span class="color-2">

                           {{ propo.meta('intro_titre_1') }}
                        </span>
					<h3 class="my-2">{{ propo.meta('intro_titre_2') }}</h3>
					<div class="fs-1">
						{{ propo.meta('intro_text') }}
						<span class="fs-2"><a href="{{ propo.link }}">{{ __('En savoir plus', 'frater-razes') }} <i
										class="color-2">→</i></a></span>
					</div>
				</div>
			</div>
			<div class="col-sm-5 p-0 frater-right-ronded d-none d-sm-block"
				 style="background-image: url({{ Image(propo.meta('intro_image')).src }});
						 background-repeat: no-repeat; background-position: right top; background-size: cover;">
				<!--<img src="{{ racine }}/views/img/home-apropos.png" class="img-fluid frater-right-ronded" alt="A Propos">-->
			</div>
		</div>
		<div class="row pt-4 px-5 pb-5 gray-bg text-center">
			<div class="col-12 mb-4">
				{{ propo.meta('intro_text_filiale') }}
			</div>
			{% endfor %}

			<div class="row owl-carousel owl-carousel-home owl-theme">
				{% for filiale in filiales %}
					<a href="{{ filiale.link }}" class="col"> <img src="{{ filiale.thumbnail }}"
																   class="black-2 img-fluid" alt="{{ filiale.title }}">
					</a>
				{% endfor %}
			</div>

		</div>
		<div class="row">
			<div class="col-sm-12 text-center">
				{% if lang == 'en' %}
					<a href="{{ base }}/en/our-subsidiaries">
					<span class="pill-all n-mt-40">
						<span class="pill-1">{{ __('Découvrez nos filiales', 'frater-razes') }}</span><span
								class="pill-2">→</span>
					</span>
					</a>
				{% else %}
					<a href="{{ site }}nos-filiales">
					<span class="pill-all n-mt-40">
						<span class="pill-1">{{ __('Découvrez nos filiales', 'frater-razes') }}</span><span
								class="pill-2">→</span>
					</span>
					</a>
				{% endif %}
			</div>
		</div>
	</div>
</section> <!-- #Section A propos -->