{% for filiale in filiales %} {% if loop.index % 2 %}
<section class="signature my-5">
	<div class="container">
		<div class="row">
			<h2 class="sub-left p-3 mb-5 d-block d-md-none"><a href="{{ filiale.link }}">{{ filiale.title }}</a></h2>
			<div class="col-sm-12 col-md-5 radius-border-top-right-bottom-left text-center mb-3 mr-3 ml-3" style="background: #E6EAED;
                    display: flex; align-items: center; padding: 40px; justify-content : center;">
				<div class="text-white ">
					<a href="{{ filiale.link }}"><img src="{{ filiale.thumbnail }}" class="img-fluid p-4" alt="{{ filiale.title }}"></a>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 pl-3 pr-3 ml-0 ml-md-5 ">
				<h2 class="sub-left py-3 mb-5 d-none d-md-block"><a href="{{ filiale.link }}">{{ filiale.title }}</a></h2>
				{{ filiale.meta('activites') }}
				<p><a href="{{ filiale.link }}">{{ __('En savoir plus >>', 'frater-razes') }}</a></p>
			</div>
		</div>
	</div>
</section>
{% else %}
<section class="signature my-5">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6 pl-3 pr-3 ml-0 mr-md-5 ">
				<h2 class="sub-left py-3 mb-5 d-none d-md-block"><a href="{{ filiale.link }}">{{ filiale.title }}</a></h2>
				<div class="d-none d-md-block">{{ filiale.meta('activites') }}
					<p><a href="{{ filiale.link }}">{{ __('En savoir plus >>', 'frater-razes') }}</a></p>

				</div>
			</div>
			<h2 class="sub-left p-3 mb-5 d-block d-md-none"><a href="{{ filiale.link }}">{{ filiale.title }}</a></h2>
			<div class="col-sm-12 col-md-5 radius-border-top-right-bottom-left text-center mb-3 mr-3 ml-3" style="background: #E6EAED;
                    display: flex; align-items: center; padding: 40px; justify-content : center;">
				<div class="text-white ">
					<a href="{{ filiale.link }}"><img src="{{ filiale.thumbnail }}" class="img-fluid p-4" alt="{{ filiale.title }}"></a>
				</div>
			</div>
			<div class="d-block d-md-none pl-3 pr-3">{{ filiale.meta('activites') }}
				<p><a href="{{ filiale.link }}">{{ __('En savoir plus >>', 'frater-razes') }}</a></p>
			</div>

		</div>
	</div>
</section>
{% endif %} {% endfor %}

<div class="clearfix"></div>