<section class="carriere my-5">
	{% for rh in notreCultureRH %}
		<div class="carriere-top text-center py-5"
			 style="background-image: url({{ Image(rh.meta('intro_rh_image_background')).src }}); background-repeat: no-repeat; background-size: cover; background-position: center; position: relative;">
			<img src="{{ racine }}/views/img/rh-mol.png" class="img-fluid img-rh-mol d-none d-sm-block">
			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-12"><span class="my-4 color-2">{{ __('Carrière', 'frater-razes') }}</span>
						{% if lang == 'en' %}<h2 class="my-4">{{ rh.meta('intro_titre_rh') }}</h2>
							{{ rh.meta('intro_text_rh') }} <a href="{{ base }}/en/our-hr-culture"><span
									class="pill-all mt-4"><span
										class="pill-1">{{ __('En savoir plus', 'frater-razes') }}</span><span
										class="pill-2">→</span></span></a>
						{% else %}
							<h2 class="my-4">{{ rh.meta('intro_titre_rh') }}</h2>
							{{ rh.meta('intro_text_rh') }} <a href="{{ site }}notre-culture-rh"><span
									class="pill-all mt-4"><span
										class="pill-1">{{ __('En savoir plus', 'frater-razes') }}</span><span
										class="pill-2">→</span></span></a>
						{% endif %}

					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	<div class="container">
		<div class="row">
			<div class="col-md-6 frater-left-bottom-radius"
				 style="background-image: url('{{ racine }}/views/img/offres-home.jpg');
						 background-repeat: no-repeat; background-position: center; background-size: cover; display: flex; align-items: center; padding: 40px;">
				<div class="offre-quote">
					<img src="{{ racine }}/views/img/quote-1.png" class="img-fluid quote">
					<p>{{ __('Nous nous réunissons tous les jours pour créer, découvrir et proposer de nouveaux moyens d’améliorer la santé des personnes.', 'frater-razes') }}</p>
					<img src="{{ racine }}/views/img/quote-2.png" class="img-fluid quote">
				</div>
				<!--<img src="{{ racine }}/views/img/offres-actives.png" class="img-fluid frater-left-bottom-radius" alt="Realisation">-->
			</div>
			<div class="col-md-6">
				<h2 class="color-2 mt-4">{{ __('Offres actives', 'frater-razes') }}</h2>
				{% for offre in offres %}
					<div class="offre">
						<div class="row">
							<div class="col-7"><span
										class="offre-title color-1"><a
											href="{{ offre.link }}"> {{ offre.meta('titre_de_loffre') }}</a></span>
								<span class="offre-position color-3">{% for fil in  offre.meta('filiale_offre') %}{{ fil.title }}{% endfor %}</span>
								<span class="offre-date color-3">{{ offre.meta('date_offre')|date('d / m / Y') }}
									, {{ offre.meta('ville_offre') }}</span></div>
							<div class="col-5"><img
										src="{% for fil in  offre.meta('filiale_offre') %}{{ fil.thumbnail }}{% endfor %}"
										class=" black op0-5 w-75"></div>
						</div>
					</div>
				{% endfor %}

				<div>
					{% if lang == 'en' %}
					<span class="offre-read-more"><a href="{{ base }}/en/vacancies">{{ __('Consulter toutes les offres', 'frater-razes') }}
							<i class=""></i></a></span>
					{% else %}
						<span class="offre-read-more"><a href="{{ site }}postes-a-pourvoir">{{ __('Consulter toutes les offres', 'frater-razes') }}
								<i class=""></i></a></span>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
