<section class="pageHeader header-2 before-radius-40 after-radius-40"
		 {% if post.meta('image_background') %}style="background-image: url({{ Image(post.meta('image_background')).src }})" {% endif %}>

	<div class="overlay-slider-page " {% if post.meta('flat') %} style="background: rgb(5, 52, 78);" {% endif %}></div>
	<div class="fixed-bottom-center mb-5">
		<div class="container">
			<div class="row d-flex align-items-end mb-3">
				<div class="col">
					<!--<nav aria-label="breadcrumb">
						<ol class="breadcrumb mb-0">
							<li class="breadcrumb-item"><a href="#">Nous Connaître</a></li>
							<!-- <li class="breadcrumb-item"><a href="#">Le Groupe</a></li>
							<li class="breadcrumb-item active" aria-current="page">Qui nous-sommes</li>
						</ol>
					</nav>-->
					<h1 class="pageHeaderTitle">{{ __('Actualités', 'frater-razes') }}</h1>
				</div>
				<!--<div class="col flex-culumn-center">
					<span>Le groupe...</span>
					<ul class="ul-header mb-0">
						<li class="active"><a href="#">Qui somme-nous ?</a></li>
						<li><a href="#">Notre stratégie</a></li>
						<li><a href="#">Notre approche</a></li>
					</ul>
				</div>-->
			</div>
		</div>
	</div>
</section>