<section class="section-cultureRh">
	<div class="container">
		<div class="row text-center">
			<div class="col-12">
				<div class="px-5">
					<h2 class="sub mb-5">{{ post.meta('titre_block_1') }}</h2>
					{{ post.meta('text_block_1') }}
				</div>
			</div>
		</div>
	</div>
	<div class="row text-center my-4 no-gutters">
		<div class="container">
			<div class="col-12">
				<div class="px-5">
					<h2 class="sub mb-5"> {{ post.meta('titre_block_2') }}</h2>

				</div>
			</div>
		</div>
	</div>
	<div class="row pattern-2 no-gutters">
		<div class="container">
			<div class="row">
				<div class="gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-12 filter hdpe">
					<!-- <a href="#">-->
					<div class="card my-3 rhumatologie">
						<div class="card-img-top flex-center-center border-bottom position-relative">
							<!--<span class="actu-categorie bg-color-2 fs-08 text-white text-uppercase">EVENEMENT</span>-->
							<span class="actu-actudate card-img-top bg-color-2 px-3 py-5 text-white text-uppercase lh-1 ">
                                <span class="f-3 bb-color-2">{{ post.meta('raison_1').chifre_raison_1 }}</span>
                                </span>
							<img src="{{ Image(post.meta('raison_1').image_raison_1).src }}" class="card-img-top"
								 alt="...">
						</div>
						<div class="card-body">
							<h5 class="d-inline-block sub-left-smal mb-5">{{ post.meta('raison_1').titre_raison_1 }}</h5>
							<div class="fs-09">{{ post.meta('raison_1').text_raison_1 }}</div>
						</div>
					</div>
					<!-- </a>-->
				</div>
				<div class="gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-12 filter hdpe">
					<!-- <a href="#">-->
					<div class="card my-3 rhumatologie">
						<div class="card-img-top flex-center-center border-bottom position-relative">
							<!--<span class="actu-categorie bg-color-2 fs-08 text-white text-uppercase">EVENEMENT</span>-->
							<span class="actu-actudate card-img-top bg-color-2 px-3 py-5 text-white text-uppercase lh-1 ">
                                <span class="f-3 bb-color-2">{{ post.meta('raison_2').chifre_raison_2 }}</span>
                                </span>
							<img src="{{ Image(post.meta('raison_2').image_raison_2).src }}" class="card-img-top"
								 alt="...">
						</div>
						<div class="card-body">
							<h5 class="d-inline-block sub-left-smal mb-5">{{ post.meta('raison_2').titre_raison_2 }}</h5>
							<div class="fs-09">{{ post.meta('raison_2').text_raison_2 }}</div>
						</div>
					</div>
					<!-- </a>-->
				</div>
				<div class="gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-12 filter hdpe">
					<!-- <a href="#">-->
					<div class="card my-3 rhumatologie">
						<div class="card-img-top flex-center-center border-bottom position-relative">
							<!--<span class="actu-categorie bg-color-2 fs-08 text-white text-uppercase">EVENEMENT</span>-->
							<span class="actu-actudate card-img-top bg-color-2 px-3 py-5 text-white text-uppercase lh-1 ">
                                <span class="f-3 bb-color-2">{{ post.meta('raison_3').chifre_raison_3 }}</span>
                                </span>
							<img src="{{ Image(post.meta('raison_3').image_raison_3).src }}" class="card-img-top"
								 alt="...">
						</div>
						<div class="card-body">
							<h5 class="d-inline-block sub-left-smal mb-5">{{ post.meta('raison_3').titre_raison_3 }}</h5>
							<div class="fs-09">{{ post.meta('raison_3').text_raison_3 }}</div>
						</div>
					</div>
					<!-- </a>-->
				</div>
				<div class="gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-12 filter hdpe">
					<!-- <a href="#">-->
					<div class="card my-3 rhumatologie">
						<div class="card-img-top flex-center-center border-bottom position-relative">
							<!--<span class="actu-categorie bg-color-2 fs-08 text-white text-uppercase">EVENEMENT</span>-->
							<span class="actu-actudate card-img-top bg-color-2 px-3 py-5 text-white text-uppercase lh-1 ">
                                <span class="f-3 bb-color-2">{{ post.meta('raison_4').chifre_raison_4 }}</span>
                                </span>
							<img src="{{ Image(post.meta('raison_4').image_raison_4).src }}" class="card-img-top"
								 alt="...">
						</div>
						<div class="card-body">
							<h5 class="d-inline-block sub-left-smal mb-5">{{ post.meta('raison_4').titre_raison_4 }}</h5>
							<div class="fs-09">{{ post.meta('raison_4').text_raison_4 }}</div>
						</div>
					</div>
					<!-- </a>-->
				</div>
			</div>
		</div>
	</div>
</section>
<section class="signature-plus my-5 ">
	<div class="container">
		<div class="radius-border-top-right-bottom-left"
			 style="background-image: url('{{ racine }}/views/img/formation-bg.png');
					 background-repeat: no-repeat; background-position: center; background-size: cover; padding: 40px; margin-bottom: 125px">
			<div class="row text-white">
				<div class="col-sm-2"></div>
				<div class="col-md-8 text-center">
					<h2 class="py-4 sub"><b>{{ post.meta('titre_block_3') }}</b></h2>
					<div class="py-4 f-15">{{ post.meta('text_block 3_1') }}</div>
				</div>
				<div class="col-sm-2"></div>
			</div>
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-md-10 p-5 bg-white color-1 radius-border-top-right-bottom-left"
					 style="margin-bottom: -125px; border-bottom: 4px solid #E6EAED;">
					{{ post.meta('text_block_3_2') }}
				</div>
				<div class="col-sm-1"></div>
			</div>
		</div>
	</div>
</section>
<div class="position-relative before-radius-40-color-2" style="height: 100px; margin-bottom: -137px;"></div>
<section class="carriere my-5 position-relative before-radius-40 after-radius-40 py-5">
	<div class="carriere-top text-center py-5"
		 style="background-image: url({{ racine }}/views/img/carriere-top.png); background-repeat: no-repeat; background-size: cover; background-position: center; position: relative;">
		<!--<img src="{{ racine }}/views/img/rh-mol.png" class="img-fluid img-rh-mol d-none d-sm-block">-->
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-12">
					<h2 class="my-4 sub mb-5">{{ post.meta('titre_block_4') }}</h2>
					{{ post.meta('text_block_4') }}
					<a href="{{ post.meta('lien_postuler').url }}">
						<span class="pill-all mt-4"><span class="pill-1 px-5">{{ __('Postuler', 'frater-razes') }}</span>
							<span class="pill-2">→</span>
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="container">
	<div class="row">
		<div class="col-12 text-center mb-5">
			<h2 class="sub mb-5">{{ post.meta('titre_block_5') }}</h2>
			{{ post.meta('text_block_5') }}
		</div>
	</div>
	<div class="row my-5">
		<div class="col-lg-6">
			<h2 class="sub-left mb-5">{{ post.meta('portrait_titre') }}</h2>
			<div class="pr-5">{{ post.meta('portrait_text') }}    </div>
		</div>
		<div class="portrait col-lg-6 d-flex justify-content-center fs-08">
			<img src="{{ Image(post.meta('portrait_image')).src }}" class="ronded-2-30">
			<span class="position-absolute ronded-2-30 gray-bg p-4" style="bottom:-10px; left:0;">
				<span><b>{{ post.meta('portrait_nom') }} </b></span><br>{{ post.meta('portrait_description') }}</span>
		</div>
	</div>
	<div class="row my-5">
		<div class="col-sm-6 d-none d-md-block">
			<img src="{{ Image(post.meta('image_1_block_6')).src }}" class="img-fluid">
		</div>
		<div class="col-md-6 ">
			<h2 class="sub-left mb-5">{{ post.meta('titre_1_block_6') }}</h2>
			<div class="pr-5">{{ post.meta('text_1_block_6') }}</div>
		</div>
		<div class="col-md-6 d-block d-md-none">
			<img src="{{ Image(post.meta('image_1_block_6')).src }}" class="img-fluid">
		</div>
	</div>
	<div class="row my-5">
		<div class="col-md-6">
			{{ post.meta('text_2_block_6') }}
		</div>
		<div class="col-md-6 ">
			<!--<img src="{{ racine }}/views/img/diversite.png" class="w-75">-->
			<img src="{{ Image(post.meta('image_2_block_6')).src }}" class="w-75">
		</div>
	</div>
	<!--<section class="home-cta my-5" style="position: relative;">
		<img src="{{ racine }}/views/img/big-mol-hor.png" class="img-fluid big-mol-hor-bottom-right">
		<img src="{{ racine }}/views/img/big-mol-hor.png" class="img-fluid big-mol-hor-top-left">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 gray-bg p-5 home-cta-left">
					<h2>Nous sommes toujours <br>à l’écoute</h2>
					<p>Avez-vous des questions ou des commentaires sur nos produits ou nos services ?<br> N’hésitez pas
						à nous contacter. On reviendra vers vous au plus vite</p>
				</div>
				<div class="col-sm-4 bg-color-2 p-5 home-cta-right frater-right-bottom-radius">

					<i class="home-cta-arrow"></i>
					<p>Prenez contact avec nous</p>
				</div>
			</div>
		</div>
	</section>-->
	{{ include('section-homeCta.html.twig') }}
</div>
