<section class="presentationGroupe">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 pt-0 pr-5 pr-5 pb-0 pl-5  text-center">
				<h2 class="py-4 sub mb-0"> {{ __('Page non trouvée', 'frater-razes') }}</h2>
			</div>
		</div>
		<div class="row ">
			<div class="col-12 text-center flex-center-center bg-large-text my-4">
				<div class="large-text my-4 p-5 radius-border-top-right-bottom-left">
					{{ post.content }}
				</div>

			</div>
			<div class="col-sm-12 text-center">
				<a href="{{ site }}">
					<span class="pill-all n-mt-40 mb-4">
						<span class="pill-1">{{ __('Page d\'accueil', 'frater-razes') }}</span><span class="pill-2">→</span>
					</span>
				</a>
			</div>
		</div>

	</div>
</section>


<section class="linksAutresPages text-white">
	<div class="row m-0">
		<div class="col-sm-6 bg-color-2 flex-center flex-column p-5 link-js"
			 onclick='window.location.href= "{{ site }}";'>
			<!--<span class="d-block">Nous Connaître > Le Groupe > Notre Stratégie</span>-->
			<div class="row flex-row">
				<span class="col-10 ibm" style="font-size: 2rem; font-weight: bold;">{{ __('Accueil', 'frater-razes') }} </span>
				<i class="row-links col-2"></i>
			</div>
		</div>
		<div class="col-sm-6 blue-bg flex-center flex-column p-5 link-js"
			 onclick='window.location.href= "{{ site }}contact";'>
			<!--<span>Nous Connaître > Le Groupe > Notre Stratégie</span>-->
			<div class="row flex-row">
				<span class="col-10 ibm" style="font-size: 2rem; font-weight: bold;">{{ __('Contact', 'frater-razes') }} </span>
				<i class="row-links col-2"></i>
			</div>
		</div>
	</div>
</section>
