<section class="presentationGroupe position-relative before-radius-40-color-1 after-radius-40-color-1 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 pt-0 pr-5 pr-5 pb-5 pl-5  text-center">
				<h2 class="py-4 sub mb-5"> {{ post.meta('titre_1') }}</h2>
				{{ post.meta('text_1') }}
			</div>
		</div>
	</div>
</section>

<!-------->
<section>
	<div class="gray-bg position-relative before-radius-40 after-radius-40 pb-5">
		<div class="container">
			<div class="missionCarouselContainer mb-3 pb-3">
				<!-- Nav tabs -->
				<ul class="nav nav-pills nav-justified" id="missionCarouselNav" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="mission-tab" data-toggle="tab" href="#mission" role="tab"
						   aria-controls="mission" aria-selected="true"><i class="fas fa-headset"></i> Mission</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="vision-tab" data-toggle="tab" href="#vision" role="tab"
						   aria-controls="vision" aria-selected="false"><i class="fas fa-headset"></i> Vision</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="objectifs-tab" data-toggle="tab" href="#objectifs" role="tab"
						   aria-controls="objectifs" aria-selected="false"><i class="fas fa-headset"></i> Objectifs</a>
					</li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content mt-5">
					<div class="tab-pane active" id="mission" role="tabpanel" aria-labelledby="mission-tab">
						<div id="missionCarousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="carousel-item active text-center">
									<img src="https://www.stevensegallery.com/440/360"
										 class="d-block w-75 border-top-right-radius-50 border-bottom-left-radius-50"
										 alt="...">
									<p class="px-5 my-4 fs-2">Faire en sorte que la qualité de nos produits
										pharmaceutiques, puisse améliorer la santé du citoyen, tout en contribuant à
										favoriser la synergie avec nos partenaires.
									</p>
								</div>
								<div class="carousel-item text-center">
									<img src="https://www.stevensegallery.com/440/360"
										 class="d-block w-75 border-top-right-radius-50 border-top-right-radius-50 border-bottom-left-radius-50"
										 alt="...">
									<p class="px-5 my-4 fs-2">Faire en sorte que la qualité de nos produits
										pharmaceutiques, puisse améliorer la santé du citoyen, tout en contribuant à
										favoriser la synergie avec nos partenaires.
									</p>
								</div>
								<div class="carousel-item text-center">
									<img src="https://www.stevensegallery.com/440/360"
										 class="d-block w-75 border-top-right-radius-50 border-top-right-radius-50 border-bottom-left-radius-50"
										 alt="...">
									<p class="px-5 my-4 fs-2">Faire en sorte que la qualité de nos produits
										pharmaceutiques, puisse améliorer la santé du citoyen, tout en contribuant à
										favoriser la synergie avec nos partenaires.
									</p>
								</div>
							</div>
							<a class="carousel-control-prev" href="#missionCarousel" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#missionCarousel" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
					<div class="tab-pane" id="vision" role="tabpanel" aria-labelledby="vision-tab">Vision</div>
					<div class="tab-pane" id="objectifs" role="tabpanel" aria-labelledby="objectifs-tab">Objectifs</div>
				</div>
			</div>
		</div>
	</div>
</section>