<section class="presentationGroupe position-relative before-radius-40-color-1 after-radius-40-color-1 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 pt-0 pr-5 pr-5 pb-5 pl-5  text-center">
				<h2 class="py-4 sub mb-5"> {{ post.meta('titre_1') }}</h2>
				{{ post.meta('text_1') }}
			</div>
		</div>
	</div>
</section>
<!-------->
<section>
	<div class="gray-bg position-relative before-radius-40 after-radius-40 pb-5">
		<div class="container">
			<div class="missionCarouselContainer mb-3 pb-3">
				<!-- Nav tabs -->
				<ul class="nav nav-pills nav-justified" id="missionCarouselNav" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="mission-tab" data-toggle="tab" href="#mission" role="tab"
						   aria-controls="mission" aria-selected="true"><i class="apr-icon apr-icon-1"></i> {{ __('Mission', 'frater-razes') }}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="vision-tab" data-toggle="tab" href="#vision" role="tab"
						   aria-controls="vision" aria-selected="false"><i class="apr-icon apr-icon-2"></i> {{ __('Aspiration', 'frater-razes') }}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="objectifs-tab" data-toggle="tab" href="#objectifs" role="tab"
						   aria-controls="objectifs" aria-selected="false"><i class="apr-icon apr-icon-3"></i> {{ __('Objectifs', 'frater-razes') }}</a>
					</li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content mt-5">
					<div class="tab-pane active" id="mission" role="tabpanel" aria-labelledby="mission-tab">
						<img src="{{ Image(post.meta('image_onglet_1')).src }}"
							 class="d-block w-75 border-top-right-radius-50 border-bottom-left-radius-50"
							 alt="mission">
						<div class="px-5 my-4 f-13 text-center">
							{{ post.meta('text_onglet_1') }}
						</div>


					</div>
					<div class="tab-pane" id="vision" role="tabpanel" aria-labelledby="vision-tab">
						<img src="{{ Image(post.meta('image_onglet_2')).src }}"
							 class="d-block w-75 border-top-right-radius-50 border-bottom-left-radius-50" alt="vision">
						<div class="px-5 my-4 f-13 text-center">
							{{ post.meta('text_onglet_2') }}
						</div>
					</div>
					<div class="tab-pane" id="objectifs" role="tabpanel" aria-labelledby="objectifs-tab">
						<img src="{{ Image(post.meta('image_onglet_3')).src }}"
							 class="d-block w-75 border-top-right-radius-50 border-bottom-left-radius-50"
							 alt="objectifs">
						<div class="px-5 my-4 f-13 text-center">
							{{ post.meta('text_onglet_3') }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>