<section class="home-cta my-5" style="position: relative;">
	<img src="{{ racine }}/views/img/big-mol-hor.png" class="img-fluid big-mol-hor-bottom-right">
	<img src="{{ racine }}/views/img/big-mol-hor.png" class="img-fluid big-mol-hor-top-left">
	<div class="container">
		<a href="{{ post.meta('cta_lien').url }}">
			<div class="row">
				<div class="col-sm-8 gray-bg p-5 home-cta-left">
					{% if  post.meta('cta_titre_1') %}<span
							class="fs-08 color-2">{{ post.meta('cta_titre_1') }}</span>{% else %}<br>{% endif %}
					<h2>{{ post.meta('cta_titre_2') }}</h2>
					{{ post.meta('cta_texte_3') }}
				</div>
				<div class="col-sm-4 bg-color-2 p-5 home-cta-right frater-right-bottom-radius">
					<!--<img src="{{ racine }}/views/img/fleche-cta.png" class="img-fluid home-cta-arrow"
							alt="Realisation">-->
					<i class="home-cta-arrow"></i>
					<p>
						{% if post.meta('cta_titre_lien') %}{{ post.meta('cta_titre_lien') }}{% else %}
							{{ post.meta('cta_lien').title }}{% endif %}
					</p>
				</div>
			</div>
		</a>
	</div>
</section>
