<section class="approcheColumn gray-bg mb-5 position-relative before-radius-40 after-radius-40">
	<div class="container">
		<h2 class="py-4 sub mb-5 text-center">{{ post.meta('titre_block_5') }}</h2>
		<div class="row">
			<div class="col-sm-6">
				<div class="card ">
					<img src="{{ Image(post.meta('image_projet_1')).src }}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title sub-left">{{ __('Projet', 'frater-razes') }} 1: {{ post.meta('titre_projet_1') }}</h5>
						{{ post.meta('text_projet_1') }}

					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card ">
					<img src="{{ Image(post.meta('image_projet_2')).src }}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title sub-left">{{ __('Projet', 'frater-razes') }} 2: {{ post.meta('titre_projet_2') }}</h5>
						{{ post.meta('text_projet_2') }}

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
