<!-- Section Produits -->
<section class="home-produits">
	<div class="container">
		{% for s in spec %}
			<div class="row justify-content-md-center">
				<div class="col-12 text-center my-4 "><span class="color-2">{{ __('Produits', 'frater-razes') }}</span>
					<h2 class="my-4">{{ __('Nos spécialités', 'frater-razes') }}</h2>
					{{ s.content }}
				</div>
			</div>
		{% endfor %}
		<div class="row">
			{% for specialite in specialites %}
				<div class="col-6 col-sm-6 col-md-3">
					<div class="card mb-5 text-white img-hover-zoom img-hover-zoom--brightness spec {{ specialite.slug }}">
						<a href="{{ specialite.link }}"> <img src="{{ Image(specialite.meta('image_specialite')).src }}"
															  class="card-img p-5" alt="{{ specialite.title }}" style="background-color: {{ specialite.meta('couleur') }}">
							<div class="card-img-overlay">
								<h5 class="card-title">{{ specialite.title }}</h5>
							</div>
						</a>
					</div>
				</div>
			{% endfor %}

		</div>
		<div class="row my-2">
			<div class="d-none d-sm-none d-md-flex col-md-4 flex-center-center">
				<img src="{{ racine }}/views/img/bg-vertival-pat.png" class="img-fluid">
			</div>
			<div class="col-12 col-md-4 text-center">
				<a href="{{ site }}specialites"><span class="pill-all"><span
								class="pill-1">{{ __('Voir toutes les spécialités', 'frater-razes') }}</span><span
								class="pill-2">→</span></span></a>
			</div>
			<div class="d-none d-sm-none d-md-flex col-md-4 flex-center-center">
				<img src="{{ racine }}/views/img/bg-vertival-pat.png" class="img-fluid">
			</div>
		</div>
	</div>
</section> <!-- #Section Produits -->