<section class="chiffresCles position-relative before-radius-40-color-1 after-radius-40-color-1 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="py-4 sub"><b>{{ __('Chiffres Clés', 'frater-razes') }}</b></h2>
			</div>
		</div>
		<div class="row py-4">
			{% if post.meta('chifre_1').number_1 %}
			<div class="col-6 col-sm-6 col-md-3 col-lg-3 my-2">
				<div class="chiffreClesBox">
					<span class="chiffreClesNumber">{{ post.meta('chifre_1').number_1 }}</span>
					<span class="chiffreClesTitle">{{ post.meta('chifre_1').text_number_1 }}</span>
				</div>
			</div>
			{% endif %}
			{% if post.meta('chifre_2').number_2 %}
			<div class="col-6 col-sm-6 col-md-3 col-lg-3 my-2">
				<div class="chiffreClesBox">
					<span class="chiffreClesNumber">{{ post.meta('chifre_2').number_2 }}</span>
					<span class="chiffreClesTitle">{{ post.meta('chifre_2').text_number_2 }}</span>
				</div>
			</div>
			{% endif %}
			{% if post.meta('chifre_3').number_3 %}
			<div class="col-6 col-sm-6 col-md-3 col-lg-3 my-2">
				<div class="chiffreClesBox">
					<span class="chiffreClesNumber">{{ post.meta('chifre_3').number_3 }}</span>
					<span class="chiffreClesTitle">{{ post.meta('chifre_3').text_number_3 }}</span>
				</div>
			</div>
			{% endif %}
			{% if post.meta('chifre_4').number_4 %}
			<div class="col-6 col-sm-6 col-md-3 col-lg-3 my-2">
				<div class="chiffreClesBox">
					<span class="chiffreClesNumber">{{ post.meta('chifre_4').number_4 }}</span>
					<span class="chiffreClesTitle">{{ post.meta('chifre_4').text_number_4 }}</span>
				</div>
			</div>
			{% endif %}
			{% if post.meta('chifre_5').number_5 %}
			<div class="col-6 col-sm-6 col-md-3 col-lg-3 my-2">
				<div class="chiffreClesBox">
					<span class="chiffreClesNumber">{{ post.meta('chifre_5').number_5 }}</span>
					<span class="chiffreClesTitle">{{ post.meta('chifre_5').text_number_5 }}</span>
				</div>
			</div>
			{% endif %}
			{% if post.meta('chifre_6').number_6 %}
			<div class="col-6 col-sm-6 col-md-3 col-lg-3 my-2">
				<div class="chiffreClesBox">
					<span class="chiffreClesNumber">{{ post.meta('chifre_6').number_6 }}</span>
					<span class="chiffreClesTitle">{{ post.meta('chifre_6').text_number_6 }}</span>
				</div>
			</div>
			{% endif %}

		</div>
	</div>
</section>