{% set array = [] %}
{% for produit in produits %}
	{% set array = array|merge([{  forme : produit.terms('formes')|join(' ') }]) %}
{% endfor %}
{% set i = 0 %}
{% set s = 0 %}
{% for a in array %}
	{% if a.forme == 'Forme injectable' %}
		{% set i = i + 1 %}
	{% elseif a.forme == 'Forme sèche' %}
		{% set s = s + 1 %}
	{% endif %}
{% endfor %}

<section class="section-listProduits">
	<div class="container">
		{% if filter %}
			<div class="row d-flex justify-content-center">
				<div align="center">
					<button class="btn btn-default filter-button" data-filter="all">{{ __('Tous', 'frater-razes') }} ({{ produits | length }})
					</button>
					<button class="btn btn-default filter-button" data-filter="forme-injectable">{{ __('Forme injectable', 'frater-razes') }} ({{ i }})</button>
					<button class="btn btn-default filter-button" data-filter="forme-seche">{{ __('Forme sèche', 'frater-razes') }} ({{ s }})	</button>
				</div>
				<br/>
			</div>
		{% endif %}
		<div class="row">
			{% for produit in produits %}
				<div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter {% if  produit.terms('formes')|join(' ') == 'Forme injectable' %} forme-injectable {% elseif  produit.terms('formes')|join(' ') == 'Forme sèche' %} forme-seche  {% endif %}">
					<a href="{{ site }}{{ termlink }}/{{ produit.slug }}">
						<div class="card my-3 rhumatologie">
							<div class="card-img-top flex-center-center border-bottom position-relative">
								<img src="{{ produit.thumbnail }}" class="" alt="{{ produit.title }}">
								{% if produit.meta('nouveau_produit') %}<img
									src="{{ racine }}/views/img/nouveau_produit.svg"
									class="position-absolute nouveau_produit" alt="{{ produit.title }}" >{% endif %}
							</div>
							<div class="card-body">
								<h6 class="d-inline">{{ produit.title }}</h6><span
										class="fs-08 d-inline ml-3">{{ produit.meta('produit_grammage') }}</span>
								<span class="fs-08 d-block mt-3">{{ produit.meta('produit_dci') }}</span>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
