<section class="section-timeline mb-5">
	<div class="container py-2">
		<!--row-->
		{% for historique in historiques %} {% if loop.index % 2 %}
			<div class="row no-gutters">
				<div class="col-sm py-2 mt-5">
					<div class="card border-0">
						<div class="card-body"
							 style="background-image: url({{ Image(historique.meta('image_date_historique')).src }}); background-position: center; background-size: auto 100%; background-repeat: no-repeat;">
							<!--<div class="float-right text-success small">Jan 10th 2019 8:30 AM</div>-->
							<!--<span class="bg-years">1996</span>-->
							<h4 class="card-title color-2 sub-left mb-5">{{ historique.meta('date_historique') }}</h4>
							<div class="card-text f-15 color-1">
								<b>{{ historique.meta('titre_historique') }}</b>
							</div>
							<div class="card-text fs-09">
								{{ historique.meta('description_historique') }}
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-1 text-center flex-column d-none d-sm-flex">
					<div class="row h-50">
						<div class="col border-right">&nbsp;</div>
						<div class="col">&nbsp;</div>
					</div>
					<h5 class="m-2">
						<span class="badge badge-pill bg-color-2">&nbsp;</span>
					</h5>
					<div class="row h-50">
						<div class="col border-right">&nbsp;</div>
						<div class="col">&nbsp;</div>
					</div>
				</div>
				<div class="col-sm text-center mt-5">
					<!--spacer-->
					<img src="{{ Image(historique.meta('image_historique')).src }}" class="img-fluid ronded-2-30 w-75 ">
				</div>
			</div>
			<!--/row-->
		{% else %}
			<!-- row -->
			<div class="row no-gutters">
				<div class="d-none d-md-block col-sm text-center mt-5">
					<!--spacer-->
					<img src="{{ Image(historique.meta('image_historique')).src }}" class="img-fluid ronded-2-30 w-75 ">
				</div>
				<!-- timeline item 1 center dot -->
				<div class="col-sm-1 text-center flex-column d-none d-sm-flex">
					<div class="row h-50">
						<div class="col border-right">&nbsp;</div>
						<div class="col">&nbsp;</div>
					</div>
					<h5 class="m-2">
						<span class="badge badge-pill bg-color-2">&nbsp;</span>
					</h5>
					<div class="row h-50">
						<div class="col border-right">&nbsp;</div>
						<div class="col">&nbsp;</div>
					</div>
				</div>
				<!-- timeline item 1 event content -->
				<div class="col-sm py-2 mt-5">
					<div class="card border-0">
						<div class="card-body"
							 style="background-image: url({{ Image(historique.meta('image_date_historique')).src }}); background-position: center; background-size: auto 100%; background-repeat: no-repeat;">
							<!--<div class="float-right text-success small">Jan 10th 2019 8:30 AM</div>-->
							<h4 class="card-title color-2 sub-left mb-5">{{ historique.meta('date_historique') }}</h4>
							<div class="card-text f-15 color-1">
								<b>{{ historique.meta('titre_historique') }} </b>
							</div>
							<div class="card-text fs-09">
								{{ historique.meta('description_historique') }}
							</div>
						</div>
					</div>
				</div>
				<div class="d-block d-md-none col-sm text-center mt-5">
					<!--spacer-->
					<img src="{{ Image(historique.meta('image_historique')).src }}" class="img-fluid ronded-2-30 w-75 ">
				</div>
			</div>
			<!--/row-->
		{% endif %} {% endfor %}
	</div>
</section>
